[2015-08-08 22:01] zonkmachine opened #1 "Boost under Git"
I haven't tested Vega Strike from git extensively but one thing I noticed is that Boost wasn't imported along with the sources. Subversion's 'Externals' and Git's  ̈́Submodules' doesn't work exactly the same way.
On Github, boost lives over here:
https://github.com/boostorg/boost

[2019-09-29 01:36] stephengtuggy opened #3 "Some debug output statements missing EOL"
I have noticed that some of the debugging statements in VS that output to the console, are missing the terminating newline. So multiple output lines get jammed together on one line at times.

One of the most common culprits is this message:
[code]

[2019-09-29 02:06] stephengtuggy opened #4 "Some debug output statements seem to be crashing vegastrike"
I haven't been able to pin down exactly what is causing these crashes. But I suspect buggy debugging output statements. (Ironic, right?) I think it's a good idea to make each output statement as safe as reasonably possible. This will probably help reduce the frequency of crashes.

To achieve this, I propose using C++-style stream I/O, rather than C-style `printf` type statements. This will automat

[2019-09-29 02:08] stephengtuggy commented on #4
In the process of fixing this issue, I am taking care of #3 as well. A missing `std::endl` stands out more than a missing `"\n"`.

[2019-09-29 23:52] stephengtuggy commented on #4
Hmm. I think I'm getting ahead of myself. Using simple C++-style output is actually **less** localizable. Perhaps we should use something like [the Boost Format Library](https://www.boost.org/doc/libs/1_53_0/libs/format/doc/format.html) instead?

Open for discussion.

[2019-09-30 00:04] stephengtuggy opened #5 "Make Vega Strike localizable into multiple natural languages, cultures, etc."
Not just English, in other words.

What approach should we take? Open for discussion.

See also #4 , which may be affected by our eventual localization approach.

[2019-09-30 00:04] stephengtuggy commented on #5
Here is one possibility: [http://www.gnu.org/software/gettext/manual/gettext.html](http://www.gnu.org/software/gettext/manual/gettext.html)

[2019-09-30 02:53] Loki1950 commented on #4
Further complication some screen output is handled by Python scripts there is some discussion of this on the forum ages ago ;)

[2019-09-30 13:56] klaussfreire commented on #4
In my experience, printf-style statements are best for both localization and logging, for other reasons. For instance, in multithreaded contexts, logging from multiple threads tend to get all mixed up together if you use std::cout, but using printf it's less likely (except for very long lines, printf is atomic-ish).

I think python has the best implementation here, with its logging module and keyw

[2019-09-30 18:39] stephengtuggy commented on #4
Thanks for the feedback, guys.

Perhaps the reason that `std::cout` output gets mixed up between threads is that each `<<` is treated as a separate output operation?

From what I've been reading, `boost::format()` doesn't work that way. It uses an internal stream, and doesn't produce any output until it has the exact, full number of arguments that it should have, based on the format string provide

[2019-09-30 18:40] stephengtuggy commented on #4
If you guys want to do it differently, I don't mind redoing my changes. (Well, to a certain point, anyway. LOL)

[2019-09-30 18:44] stephengtuggy commented on #4
Oh, I forgot to give example code. Here's an example:

[code]

becomes

[code]

[2019-09-30 19:06] stephengtuggy opened #6 "Getting message "Assumed exit on unit...""

[2019-10-03 19:06] BenjamenMeyer commented on #5
Another possibility: Boost Locale
- https://www.boost.org/doc/libs/1_71_0/libs/locale/doc/html/index.html
- http://site.icu-project.org/ (backend)

It's also compatible with `gettext` - https://www.boost.org/doc/libs/1_68_0/libs/locale/doc/html/messages_formatting.html

[2019-10-03 20:26] stephengtuggy commented on #5
Yes, I also saw Boost Locale. It looks really good. The only problem is that it requires an additional library to be pulled in, which I didn't want to do just yet. But if the devs are on board with using Boost Locale, let's do it!

[2019-10-03 22:55] stephengtuggy opened #8 "Use C++11 std::unique_ptr, std::shared_ptr, std::weak_ptr where applicable?"
Personally, I think the C++11 standard is old enough (8 years old!) that we can begin using it. And it comes with some great added features! Like the smart pointer types `std::unique_ptr`, `std::shared_ptr`, and `std::weak_ptr`: [https://en.cppreference.com/w/cpp/memory](https://en.cppreference.com/w/cpp/memory).

If we start using these smart pointer types wherever possible, a lot of Vega Strike'

[2019-10-03 22:58] stephengtuggy opened #9 "Convert README to Markdown format"
For open source projects on GitHub, a nice, well-formatted, up-to-date README can be very important. Projects with a good README.md file tend to attract more contributors. So I propose to convert Vega Strike's README to README.md (Markdown format instead of plain text) as a starting point. We can then go on to update it with more current, accurate content.

[2019-10-04 01:26] Loki1950 commented on #9
Looks good to go from me Stephen

[2019-10-05 19:05] stephengtuggy commented on #9
@Loki1950 Cool. Can you go to [the Files Changed tab of the Pull Request](https://github.com/vegastrike/Vega-Strike-Engine-Source/pull/10/files), click on Review Changes, then leave your review? Thanks!

[2019-10-06 02:44] stephengtuggy opened #11 "Segmentation Fault (SIGSEGV) in bool Unit::Killed()"
Just now, I got a segfault in the `inline bool` method `Unit::Killed()`. Judging by the comment just above, indicating that the `void Kill()` method deletes an object, it seems to me that trying to read the value of `Killed` is a bad idea in general. It would never return `true`, only `false` or... segfault. Why? Because in the latter case, the object has been deleted, and it no longer exists in m

[2019-10-06 03:02] #9 closed

[2019-10-09 20:39] klaussfreire commented on #8
I agree with the sentiment, but a lot of distros still come with gcc versions that don't enable c++11 support by default. No big deal, just a heads-up.

FTR, we're already using a few features from c++11 through tr1 and boost, so it's not like we're missing on them.

[2019-10-09 22:25] klaussfreire commented on #4
The only problem with that, is that it won't skip argument evaluation when debug output is disabled.

We want to do that so that you may get the stability improvements at runtime, without recompiling.

So it would be more like:

[code]

Might even find a way to hide `boost::format` inside the macro to streamline calls even further.

[2019-10-10 02:37] stephengtuggy commented on #4
@klaussfreire Fair enough. I'll try the macro approach.

[2019-10-10 04:57] stephengtuggy commented on #4
@klaussfreire I've started down the macro path. But it seems to me, thinking about it some more, that the `boost::format` part (with its arguments) will still be evaluated, unless they are compiled out at compile time.

What is more, I started having to `#include "vs_globals.h"` in some files, such as `csv.cpp`, that didn't include it before. This was in order to check `g_game.vsdebug` within the

[2019-10-10 05:00] stephengtuggy commented on #8
Looks like boost includes a `boost::shared_ptr` type, which internally maps to c++11 `std::shared_ptr` when that is available, or to a different implementation otherwise. I would be happy to use `boost::shared_ptr` instead.

[2019-10-10 05:05] stephengtuggy commented on #11
After further experimentation and examination of the code, it looks like we might need the `Killed` concept after all. However, to prevent other threads from trying to read that property on an object that has already been destroyed, I suggest using some form of thread-safe smart pointers. (See #8 ).

[2019-10-10 05:06] stephengtuggy commented on #11
[std::atomic_flag](https://en.cppreference.com/w/cpp/atomic/atomic_flag) or similar might be worth using for this property, also.

[2019-10-10 05:10] stephengtuggy commented on #1
Any objections to updating Boost to the latest version? As of the time of this comment, I believe that is 1.71.0.

[2019-10-10 18:56] zonkmachine commented on #1
Maybe try and add the Boost submodule first and then update to a later version. Have you used git submodules before?

[2019-10-11 03:36] stephengtuggy commented on #1
A little bit. I have a Pull Request waiting for review already, so I think I'll wait on adding the submodule.

[2019-10-12 06:34] stephengtuggy commented on #4
I just discovered something that might be just the ticket: [Boost.Log](https://www.boost.org/doc/libs/1_71_0/libs/log/doc/html/index.html). It comes with Boost, version 1.54 and up, which we already have access to. The documentation for Boost.Log specifically says that it's safe to log simultaneously from multiple threads; the output won't get corrupted.

We could have Boost.Log log to a text file

[2019-10-12 20:36] Loki1950 commented on #4
Looks like you will not be reinventing the wheel ;)

[2019-10-13 06:35] stephengtuggy commented on #1
@zonkmachine I tried adding Boost as a git submodule, and it was **a mess!** Came with over 100 sub-submodules. Checked out the `master` branch by default, which is quite a few commits ahead of their latest released version (1.71.0). When I tried checking out different tags (versions), I ended up with ghost "changed files", just from the line endings not being what was expected. Pretty soon, those

[2019-10-14 15:16] BenjamenMeyer commented on #1
Yeah, `git submodule` leaves a lot to be desired versus `svn:externals`. Not sure there's a really good way to resolve.

Q: do we really need to use submodules? Do we really need to bring along the dependencies?

Perhaps a better approach:
- have a cached downloaded for known working versions
- have a script to install them if they're . not already in the system
- update the build system to use sy

[2019-10-14 19:13] stephengtuggy commented on #4
UPDATE: I was mistaken. The version of Boost that the code used before was 1.53. Boost.Log was not introduced until one version later, 1.54.

Any objections to migrating to Boost 1.54 or later? I have successfully built and run Vega Strike on Ubuntu 18.04 LTS with both Boost 1.65 (the system version) and Boost 1.71 (the latest version).

[2019-10-14 19:15] stephengtuggy commented on #4
Also note that I have confirmed that, after switching to Boost.Log for debugging output, Vega Strike uses **significantly** less CPU at lower verbosity levels. :grinning:

[2019-10-14 20:17] BenjamenMeyer commented on #4
Honestly, sounds good - if you can successfully update a dependency then why not? Can you put up a specific PR for doing so?

Namely would be nice to see the delta just for updating it if possible. If not possible - too much work; then ok.

[2019-10-14 22:13] stephengtuggy commented on #8
Perhaps even more suited to our needs: [`boost::intrusive_ptr`](https://www.boost.org/doc/libs/1_71_0/libs/smart_ptr/doc/html/smart_ptr.html#intrusive_ptr). The name sounds a little weird, but the concept actually fits what Vega Strike already does: keep an internal ref count within each object instance (of `Unit`, for example).

Potential advantages of using `boost::intrusive_ptr` over what we al

[2019-10-26 13:40] ghost opened #13 "Erroneous change of SPEC capacitor value when weapon capacitor is sold"
When a normal weapon capacitor is sold the required  energy for a jump and the warp storage of the spec capacitor also changes. This makes jumping the ship impossible without upgrading to a better capacitor.

Steps to reproduce:

-  start new campaign
-  buy jump drive
-  check ship stats
-  notice warp capacitor storage and jumpnode travel cost
-  sell normal weapon capacitor, check ship stats ag

[2019-10-27 19:37] stephengtuggy commented on #13
I have encountered this issue on almost every campaign. Thanks for identifying specifically under what conditions it occurs.

[2020-02-07 12:24] #3 closed

[2020-02-07 12:24] #4 closed

[2020-02-11 14:14] pyramid3d commented on #1
The whole boost source directory is nearly 700MB. It is not worth linking it as a submodule. The added advantage of including the sources directly is that they are readily available for compiling upon local cloning if the git repo.
So I have compile VS successfully with boost 1.72.0 and consequently added those sources to ext/boost/1_72_0. Instructions for integrating future (or legacy) versions h

[2020-02-11 14:14] #1 closed

[2020-02-15 10:49] crts-crome opened #14 "Missing Contributors in Master branch"
I have mentioned this issue in the forum previously, not sure whether it has been noticed or not. After the merge of the SVN repository the new Master branch does not show the Contributors any more. The contributed code changes are still present but the files themselves show 0 Contributors when selected.
Is this going to be fixed at some point?

[2020-02-15 11:19] crts-crome commented on #14
It is not just my contributions, by the way, e.g., the changes from #7 are also no longer attributed to the contributor in the Master branch.

[2020-02-20 23:28] pyramid3d commented on #14
Answered in the forum

[2020-02-21 00:29] stephengtuggy commented on #1
That works too :+1: . Thanks!

[2020-02-22 17:54] LifWirser commented on #5
As far as  using Boost Locale, its just another module for boost, which is extensively used with Python and C++ code

However, the question of how "Politically Correct" will VS have to become should be asked?
To be culturally sensitive must VS lose it's "wild West" appeal?

[2020-02-24 16:03] BenjamenMeyer commented on #5
@LifWirser I'm not sure this is a conversation about being PC. Translations only happen/get contributed when someone familiar with a given language takes the time to contribute such translations or someone figures out how to automate translate.google.com (very rough) into the build system for basic translations of one's choosing. So even if this is done, only expect the current English to be there

[2020-02-24 19:21] LifWirser commented on #6
Message is old troubleshooting from Python, it doers not seem to affect gameplay.
SUGGEST: add to Audit_Python issues

[2020-02-24 19:41] LifWirser commented on #13
If by "weapon capacitor" do you mean "capacitor" (because it affects more than weapons like sheilds thrust etc,  Having An understanding of capacitor theroy/application, it is possible for the spec capacitor and the  regular capaacitor to interact, However for the game probably should not (except for a " shady mechanic " tweak  that could enhance battle power FWIW)
SUGGEST:  new audit sub topic "s

[2020-02-24 20:04] LifWirser commented on #11
While a "segfault" report is serious, this report is lacking enough information not to be

The minimum need for a proper BUG report is
- The type of os on which the error occured
- short description of machine  error occured on (64 bit ibm w nvidia-blah)
- error message displayed (segfault at blah.cpp ...)
- breif description of actions that caused problem
- is problem repeatable

Based on lack of

[2020-02-24 20:36] LifWirser commented on #8
In theroy I agree
now look at what else could be afected
- Vegastrike shares data referenced from pointers back and forth between c++, Python> GL(whichever), sound and various network functions.
 As I am new to contributing I want to know that all sides are looking at what they are supposed to
- from my perspective a through "Audit" of th VS codebase needs to be performed. Basically for this topic

[2020-02-24 20:43] LifWirser opened #15 "Auditing Vegastrike"

[2020-02-24 21:24] LifWirser commented on #15
With my past explorations of the many functions of Vegastrike, I have come to on conclusion this project would greatly benifit from a formal and through auditing of all aspects of the project.
As newly being welcomed to the vegastrike development, I am attempting to lay the foundation of proceedures which if completed will serve this project for many years to come.

For anyone who has been exposed

[2020-02-24 21:36] LifWirser opened #16 "Audit code_C++"
This issue is fir finding and correcting C++ issues. Also dicussions on how to test and  measure performance of C++ code.

some issues to be discussed here are
- finding unused/ obsolete/depreciated  C++/h files
- correcting compile errors/warnings
-incorperating  improvments

[2020-02-24 21:37] LifWirser opened #17 "Audit code_python"

[2020-02-24 21:39] LifWirser commented on #17
This issue is fir finding and correcting Python issues. Also dicussions on how to test and  measure performance of Python code.

some issues to be discussed here are
- finding unused/ obsolete/depreciated  Python code/files
- correcting compile errors/warnings
-incorperating  improvments

[2020-02-24 21:44] BenjamenMeyer commented on #15
Looks like you created #16 and #17 for the two aspects of this.  I'd suggest creating a Project board for it too to help track progress and finer details.

[2020-02-24 21:45] BenjamenMeyer commented on #8
See #15 for the audit proposal by @LifWirser

[2020-02-24 21:56] LifWirser opened #18 "Audit data__databases"
This area is for creating/maintaining  Vegastrike databases *.csv files.

Amoung the topics here will deal with are
creating/deleting/editing both database files adn indiviual entries
verifying all needed feilds are correct for all database entries
proper linkage to respective C++/Python code
testing database  whencreating/deleting/editing  via Vegastrike apps

[2020-02-24 22:03] LifWirser opened #19 "Audit data_graphics"
This area is for creating/maintaining Vegastrike Graphics files.

Amoung the topics here will deal with are
creating/deleting/editing graphic/video files and indiviual entries
verifying all needed resolutions are correct for all graphic entries
proper linkage to respective C++/Python code
testing database when creating/deleting/editing via Vegastrike apps

[2020-02-24 22:11] LifWirser opened #20 "audit data_sounds"
This area is for creating/maintaining Vegastrike sound files.

Amoung the topics here will deal with are
creating/deleting/editing  sound files
verifying all needed sound are correct for all sound sample rates
proper linkage to respective C++/Python code and databases
testing sound when creating/deleting/editing via Vegastrike apps

[2020-02-24 22:16] LifWirser opened #21 "Audit data_Documentation"
This area is for creating/maintaining Vegastrike documentation files.

Amoung the topics here will deal with are
ensure all game documents are correct and up to date
in proposed Localized additions tranlation are correct
maintaintance of all proceedur documents

[2020-02-24 22:42] LifWirser commented on #15
while the idae of a "Project board" sounds good I think eack audit topic will eventually need one At present I am busy just getting started on many issues, once I get some current tas compleated I can take a closer look at your "Project board".
 Of course if you feel like volutering some time to the idea ...

[2020-02-24 22:58] LifWirser opened #22 "BUG: Compile failure from /sh/vsbuild.sh"

[2020-02-24 23:28] LifWirser commented on #22
Occurred on Intel core2 (64 bit) , Debian 9, mesa graphics from Vega-Strike-Engine-Source-0.5.3.zip

As per ~ Vega-Strike-Engine-Source-0.5.3/README.md
I executed ~/Vega-Strike-Engine-Source-0.5.3 /sh/vsbuild.sh which ended with the following
`[100%] Linking CXX executable vegastrike
[100%] Built target vegastrike
cp: cannot stat {edited_home_dir}/build/Vega-Strike-Engine-Source-0.5.3/build/{vegas

[2020-02-24 23:38] LifWirser opened #23 "Bug program hangs during execution -first mission"

[2020-02-24 23:40] LifWirser commented on #23
Occurred on Intel core2 (64 bit) , Debian 9, mesa graphics from Vega-Strike-Engine-Source-0.5.3.zip
During first execution(s) of VS, during first flight, game hangs up hard!
- on linux use {cntrl}{alt}{F1}(for Debian 9, other linux's may vary) to escape xwindows , then login again at prompt and issue this command

Code: Select all
    killall -9 vegastrike

Then issue {cntrl}{alt}{F7} (for Debian

[2020-02-24 23:46] LifWirser opened #24 "BUG base database appears to be corrupt"
Occurred on Intel core2 (64 bit) , Debian 9, mesa graphics from Vega-Strike-Engine-Source-0.5.3.zip

-It appears the database is corrupt, in more than one system: missions are listed as "scan" or "visit" with no apparent location, clues are that all are "real" meaning can be found by cycling "n", using placement in mission list provides usefull clues. All have no names: one miningbase in enyo syst

[2020-02-24 23:54] LifWirser opened #25 "bug ship HUD missiom frame - odd behavior"
in the ship HUD mission frame if having multiple missions when say a patrol objective is completed in the first mission it shows up attached the the bottom of the next mission and even the third mission as completed, this can lead to a situation of objective being shown as completed and not completed :?

Tip If an abjective shows not completed, it needs to be

[2020-02-25 14:26] BenjamenMeyer commented on #15
@LifWirser  I'd love to; but I don't have permissions for that yet.

[2020-02-26 23:08] LifWirser commented on #23
THIS IS STILL NEEDING MORE TESTING, I have repeatible results but need to verify
 cpuopts not the issue (doubtfull)

In tracking this bug I found by chance that compiling with cpu opts changed to "core 2"
 and boost set to internal I don.t get locked up on first mission. In order to compile,
your os packages are needed for boost-dev(boost development), along with packages that
 provide:<Python.h>,

[2020-02-27 18:56] LifWirser commented on #5
First, On behave Of the Vegastrike team I  appreciate your interest.
Second The core issue as stated in the GH issue title
"Make Vega Strike localizable into multiple natural languages, cultures, etc."
has at least 2 seperate feature request
1 Locale support ie "multiple natural languages" which consist of two main parts.
  A > Engine support
  B > Asset/Data requirements

2 The cultures issues wh

[2020-02-27 19:09] BenjamenMeyer commented on #5
@LifWirser  I think that's fair, and from my attempts to get involved I do think there needs to be some core work done first before starting major things like localization support. So FTR I'm in favor of leaving this open to track, but put it on hold until VS is in a better state to tackle this.

[2020-02-27 20:21] LifWirser commented on #5
For someone who may be interested I sure there are things that could be done ie setting up a " locale "translating program "independant of game engine and try translationg some xml files or something. anybody with GH accnt can set up a personal repo and clone assets repo to play with or even use git to clone straight to your pc ( no GH accnt needed).
For possible inclusion in future Vegastrike rel

[2020-02-27 21:15] LifWirser commented on #15
If you are loking for some Vegastrike developer GH permission it's not my place to issue them.
However you can still use your GH account to develope some work that the VS team may review.Perhaps answering: What do you want from / offering to the Vegastrike team may be a place to start IMHO

[2020-02-27 22:06] LifWirser commented on #23
Note: boost version provided in  /ext is 1.72 my internal boost for Debian 9 is 1.62. Will update as new informaion available

[2020-02-28 15:34] BenjamenMeyer commented on #15
@LifWirser if someone on the VS team would give me permissions I'd happily help run project boards. Not sure what permissions are needed for that; but looking to get more involved as I can find time. Right now, project boards are something easy to do for me that can slot in quickly.

[2020-03-02 15:19] BenjamenMeyer commented on #15
Thanks @pyramid3d for the perms. I'll organize these Audit issues into a project board to track.

[2020-03-02 15:29] BenjamenMeyer commented on #15
@LifWirser I created https://github.com/orgs/vegastrike/projects/1 to track this. I didn't have the permissions to do so directly here in this repo so it's an org wide project, which is probably good since there's 16 repositories so we can use one project for all the repositories. Presently on this repository is linked but we'll probably want to bring the others in as tasks finish up. Please revie

[2020-03-03 05:07] stephengtuggy commented on #5
There are at least a few other countries who have had Wild West-type things, you know.

But I agree: as far as actually translating VS into other languages, that would need to be something for the VS community as a whole to decide on.

The immediate benefits would be as @BenjamenMeyer described: low-hanging fruit; plus making it easier to identify/isolate user-facing text.

What do you think, guys

[2020-03-03 05:08] stephengtuggy commented on #5
I just updated the title of the issue to reflect its new focus/emphasis.

[2020-03-03 05:09] stephengtuggy commented on #25
I think I have encountered this myself a few times. Thanks for the bug report.

[2020-03-03 05:11] stephengtuggy commented on #22
Hmm. Interesting. Good catch. So that first line is the only one that needs to change?

[2020-03-03 05:22] stephengtuggy commented on #8
@LifWirser I absolutely agree. I started going down this path on a branch in my own fork of Vega-Strike-Engine-Source; in the process, I tried to take into account all these different parts of the game where these pointers might be used. With most types of smart pointers, there are ways to extract regular pointers from them when needed (although these may limit how useful the smart pointers actual

[2020-03-03 05:32] stephengtuggy commented on #11
My apologies. I thought I had filled in the environment information for this bug months ago.

Okay, here goes;
The OS was Ubuntu 18.04 LTS, I believe.
64-bit
CPU: 8th-generation Intel Core i5-8500, 6-core, 3.00 GHz
Main system RAM: 16 GB of DDR4
Graphics: GeForce GTX 1050 Ti, with 4 GB of dedicated GDDR5
Motherboard: Gigabyte H370M-DS3H
Main system storage: 500GB M.2 NVMe SSD

I think there were t

[2020-03-05 23:48] LifWirser commented on #5
Here is a bit of a problem.
Some of what you may think as text is actually a picture so a whole new picture needs to be made. Also some text could be a variable name so code needs to be localized as well FWIW . Does anybody know where the text to localize is located ?

As far as being " low-hanging fruit" , I won't bet on it

as for forums,do a search it may be a topic already

[2020-03-06 00:24] LifWirser commented on #8
Behind the scenes I have been looking  both the engine and asset masters. They are far removed from the current 0.5.3 branches respecively, which are the latest created feb 2020. also just compiling engine master does have many "autopointer depreciated compiler warnings but not in 0.5.3 . @stephengtuggy As far I know ATM the 0.5.3 branch is what needs to be worked on , I suspect your "Segfault" wa

[2020-03-06 00:48] LifWirser commented on #22
Actually it only needs to be changed if your.bin/sh (whish is usually a link points to a shell not completely "bash compliant" but to be safe I changed it on the repo so It can be closed but I left it open for now

[2020-03-08 03:49] stephengtuggy commented on #5
@LifWirser All very good points. Thanks for the input.

[2020-03-08 10:42] pyramid3d commented on #15
I am not very familiar with the necessary project board permissions.
@BenjamenMeyer, if you could point me to the right permissions I should be able to assign them to you.

[2020-03-09 05:47] BenjamenMeyer commented on #15
@pyramid3d I'm going to gander its some form of write permission that's needed; probably across the org as I'd need to be able to modify Issues and PRs to assign them to the Project Board, Milestones, and edit labels.

Reading up on https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-an-individuals-access-to-an-organization-project-board might mean being an `

[2020-03-10 02:45] BenjamenMeyer opened #26 "Specify the License"
Good open source repositories contain a file in the root called LICENSE that specifies what license they fall under. This enables everyone to know if the source is compatible with other libraries, projects, etc. Git Hub has an easy mechanism to set a known license from its list. I assume there is already one for VegaStrike and we just need to find it and put it in the right location.

This will al

[2020-03-10 02:46] BenjamenMeyer commented on #26
This can get filed with the Community Audit, or work that comes out of that.

[2020-03-10 02:49] BenjamenMeyer opened #27 "Provide a Contributors Guideline..."
It's good practice on GitHub to provide potential contributors with guidance in a file called CONTRIBUTING. This can be anything from how to ask questions, to where to find help, how we want issues filed, etc.

For reference: https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

This can get filed with the Community Audit.

[2020-03-10 02:52] BenjamenMeyer commented on #26
Found it under `doc`... Propose to move it to the root of the repository.

[2020-03-10 11:50] pyramid3d commented on #15
@BenjamenMeyer Thanks for sharing the links. I hope I have figured this out. You should now have the permissions to admin project boards. Do let me know otherwise.

[2020-03-10 11:56] pyramid3d commented on #26
Feel free. ;-)

[2020-03-10 11:59] pyramid3d commented on #27
The original [The Vega Strike Contributor's Guide](https://wiki.vega-strike.org/HowTo:Contribute) may get you started, though it hasn't been updated in ages.

[2020-03-10 14:47] Loki1950 commented on #5
An other complication there is some user facing text that is embedded in Python print statements as literals.When we do have a localisation structure using Transfix should be looked at they provide translation infrastructure for hundreds of FOSS projects

[2020-03-10 15:55] BenjamenMeyer commented on #15
@pyramid3d can confirm. Thanks!

[2020-03-11 21:23] Echoes91 opened #28 "Game crashes when paused, can't resume"
### Observed behaviour

When game is put in pause ('Pause' key) during flight it freezes and cannot be resumed.

Once killed:
[code]
### Expected behaviour
Game is put in pause and resumed with 'Pause' key

Vega Strike 0.5.3 (current master) on Arch Linux x86_64

[2020-03-11 21:35] Echoes91 commented on #13
Actually the warp capacitor value changes when selling any upgrade for the first time (try selling armor/shields and check).
Only the initial value of Llama.begin seems inconsistent:
- Warp capacity starts at 270833 MJ with capacitor I installed (166666 MJ)
- When any upgrade is sold, capacity drops to 187500 MJ (_or to 20833 MJ if SPEC capacitor was sold_)
- From now on, warp capacity is consiste

[2020-03-12 11:43] pyramid3d commented on #28
Can reproduce it on the same system (haven't tested others).
In the meantime you may want to dock with a planet or station to pause the game.

[2020-03-29 21:52] LifWirser commented on #16
I have started to audit C++ #include statements. Basically I have commented out the "#include" statements of one file at a time then trying to compiling. As this produces errors I try to uncomment the needed files neede to solve the first error only. by repeating this process until the compile error are solved, any "include" statements left commented out are unneeded and are removed. then the next

[2020-03-29 22:00] LifWirser commented on #27
As I have been motivated,I have been working on an outline for coding standards on my own. It is still a work in progress, so be warned.
[VS_Standards-Outline-0.1,txt](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4399861/VS_Standards-Outline-0.1.txt)

[2020-03-29 22:13] LifWirser commented on #28
I ran into this problem on Debian 9 just going between  two planets - didn't get traceback, I had a hard lockup on mine. Marking as BUG

Thank You

[2020-03-30 14:48] BenjamenMeyer commented on #27
@LifWirser that's be a great edition to the Wiki section.

[2020-04-01 06:47] nabaco commented on #22
Issue was solved, I think we can close this bug

[2020-04-01 07:34] nabaco opened #31 "Add CI to VegaStrike"
I think it might really boost development if we add CI/CD to this repository.
I have some experience with TravisCI, which is free for OpenSource projects.

I would suggest the following stages for CI integration:
- Check compilation on Ubuntu 18.04 LTS
- Check compilation on other platforms (MacOS, Windows, other Linux/UNIX distros)
- Implement code tests (I don't know if any exist already)

In th

[2020-04-01 13:57] BenjamenMeyer opened #32 "Update to use safe functions where possible..."
PR #29 reveals use of functions like `sprintf`; this is now considered bad practice unless otherwise unavoidable (in which case a comment should be there to provide insight into why it's unavoidable) and `snprintf` should be used instead.

As part of the code audit and updates we should move from the various unsafe functions to safe functions and document where we can't (which should IMHO be very

[2020-04-01 14:03] BenjamenMeyer commented on #31
Agreed; https://github.com/BenjamenMeyer/samplingEngine/blob/master/.travis.yml might provide some help on how to matrix this out. We probably want to test multiple Linux distros and may be even multiple compilers.

[2020-04-01 18:51] nabaco commented on #31
Can someone activate the integration for this repository? The process is quite straight forward:

https://travis-ci.com/

[2020-04-01 19:32] BenjamenMeyer commented on #31
@nabaco done

[2020-04-01 19:32] BenjamenMeyer commented on #31
and it's `travis-ci.org` for the open source side ;)

[2020-04-01 19:33] BenjamenMeyer commented on #31
@LifWirser I only enabled Vega-Strike-Engine-Source. If we need others it's trivial to flip them on too.

[2020-04-01 19:57] nabaco commented on #31
@BenjamenMeyer I opened a PR, but I don't see any build status there.
Can you enable in the Travis-CI settings to run checks for PRs too?

[2020-04-01 20:01] BenjamenMeyer commented on #31
@nabaco there won't be a build until after the first PR is merged and it finds it. IIRC travis-ci only searches branches after master has been configured, then it'll auto-pull PRs. The first PR with travis-ci is always tricky.

[2020-04-01 20:02] BenjamenMeyer commented on #31
Actually... travis-ci.org did find it: https://travis-ci.org/github/vegastrike/Vega-Strike-Engine-Source/builds/669861119

[2020-04-01 20:03] BenjamenMeyer commented on #31
you probably need to set it to use Ubuntu 18.04 for the base image.

[2020-04-01 20:44] nabaco commented on #32
I'll be glad to help with this once I finish with the other tasks

[2020-04-03 03:34] #31 closed

[2020-04-03 04:04] BenjamenMeyer opened #34 "Dev & Core communications"
I realize that the VS community has a long history at https://forums.vega-strike.org/ for communications. However, at least at the present the side is being a bit problematic to load. @Loki1950 mentioned contacting another forum member regarding it and hosting.

Q: would it be worth having another means of communication such as Slack (vegastrike.slack.com), IRC (FreeNode, etc), or something else t

[2020-04-03 04:36] royfalk commented on #34
I know I would appreciate something like slack for developers to communicate.
Currently working on setting up first commit - refactor of particle.cpp.

Roy Falk

________________________________
From: Benjamen Meyer <notifications@github.com>
Sent: Friday, April 3, 2020 7:04 AM
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.github.com>
Cc: Subscribed <subscribed@norepl

[2020-04-03 12:32] nabaco commented on #34
Gitter could be nice, as it allows directly referencing issues/commits/etc from Github, so it'd be nice for devs.
Slack is more popular and widely accepted among devs.
I think IRC would be more fit to talk with users.

Either way, we should also consider what are the available integrations. You could get notifications about PRs, tests, deployment, releases, etc. As well as doing action on Github t

[2020-04-04 18:51] BenjamenMeyer opened #36 "Multi-monitor..."
I typically use my laptop hooked up to a second display; when loading vegastrike. I build VS and then used the Asset Production set to play the VS screen takes over both monitors and centers itself between them instead of sticking to one screen or the other.

1. Is this expected behavior? (I'm thinking not)
2. What data can I provide to help resolve?
3. What can I do to help out on this? It makes

[2020-04-04 18:53] BenjamenMeyer opened #37 "New Game - opens to play in space, but can't land..."
not sure if this is bug on the engine or the Asset Production stuff.

I started a new game from scratch - no history previous, this really is my first VS load up. It starts in-flight and the tutorial of how to go through flight, etc; ending back at the planet. However, I can't land. It doesn't seem to recognize the request to do so.

[2020-04-04 21:24] BenjamenMeyer opened #38 "Drop vendoring of libboost"
Per https://github.com/vegastrike/Vega-Strike-Engine-Source/pull/33#issuecomment-609089044
VS provides a vendored copy of libboost. Is this still necessary? Or can we assume it is available?

[2020-04-04 21:25] royfalk opened #39 "Game History"
The bottom of  [this page](https://wiki.vega-strike.org/Vegastrike:Project) has some info about the start of the project, but it seems a lot was lost in time. We can probably ask @danielrh who started it all. I wonder if the code was based or inspired on source code release from a commercial game such as privateer.

Loki. It would be great if you could shed as much on this as possible. A good plac

[2020-04-04 21:28] BenjamenMeyer opened #40 "Decision on compiler/platform support"
Several questions raised in https://github.com/vegastrike/Vega-Strike-Engine-Source/pull/33#issuecomment-609089044:

1. What compilers do we want to support?
- [x] gcc
- [x] clang
- [x] ~VC6~ (dropped per https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/40#issuecomment-625288625)
- [x] ~VC2020~ VS2017

2. What legacy platforms do we want to support?
- [x] ~Ubuntu 14.04~ (dropped per

[2020-04-04 21:31] BenjamenMeyer opened #41 "Community Structure"
From https://github.com/vegastrike/Vega-Strike-Engine-Source/pull/33#issuecomment-609089044:

There has been a large turn over of the devs. We need to decide who makes the decisions, who gets what authority, etc to help progress things forward.

[2020-04-04 21:34] BenjamenMeyer commented on #41
I am presently helping to manage the stuff in Github at least from a project management view with the Project Board, issues, etc.

I've got a long history of software development in Python and C/C++ too; but relatively new to the game dev space. Willing to help out however needed.

[2020-04-04 21:38] BenjamenMeyer commented on #41
Created the @vegastrike/core-reviewers team. I'm on it at least for now since I set it up. Feel free to remove me or say I'm official.

[2020-04-04 22:48] Loki1950 commented on #39
Most of the engine is based on Crystal Space a very early commercial project  that was Open Sourced   way back in the 90's privateer has never released any of it's code as far as I know.

[2020-04-04 22:51] danielrh commented on #39
The game was written from scratch in 1998 starting from WinMain and using a lot of the 3dfx GLide API's.  An OpenGL version was created and lived, largely in parallel, at that time... later the whole game was ported to linux using the GPL tuxracer (or some contemporary popular linux game) as a starting point for getting the GLUT and SDL initialization code in a reasonable shape.
It initially Vega

[2020-04-04 22:53] danielrh commented on #39
Vega Strike was always very careful to avoid interacting with and using any proprietary code, and the authors didn't even look at source code dumps like FreeSpace or others, in order to maintain a clean-room philosophy when working in the space simulator genre. The GPL license hygiene is extremely robust throughout Vega Strike's history.

[2020-04-04 22:53] danielrh commented on #39
I would personally be fine to relicense the code under a more permissive license like BSD, but I'm sure some of the collaborators' contact info have been lost to the sands of time, so that would be a big undertaking

[2020-04-04 22:57] Loki1950 commented on #38
Since we use an internal Python interpreter 2.7 ATM libboost has been integral for the functions it provides since the beginning dropping it would mean refactoring about 80% of the code not that trivial

[2020-04-04 23:05] Loki1950 commented on #40
First we have to get Windows build at all which will be not fun and where is the Mac OSX version yeah we did support that as well

[2020-04-05 01:44] Loki1950 commented on #39
Thx for that clarification @danielrh remembered the time the Debian maintainers objected our use of the Crystal Space's code as not being GPL that was taken care of by safeways rewrite/refactor of the collision detection code

[2020-04-05 03:20] BenjamenMeyer commented on #38
@Loki1950 this isn't about dropping boost from use; it's about dropping the vendored code and relying on system provided code. On Linux that should be doable; possibly on Mac too. On Window we'll have to setup CMake to download stuff in some form since Windows doesn't provide that stuff.

This is also just to raise the question. If it's not possible, then it's at least documented and we can revisi

[2020-04-05 03:28] BenjamenMeyer opened #42 "Travis-CI: Enhancements"
Travis-CI has been integrated to do PR gate checks. It presently only supports a few of the Linux distros, Ubuntu versions at that. Update the Travis-CI configuration to support the following:
- [ ] Ubuntu 18.04
- [ ] Ubuntu 20.04
- [ ] CentOS/Fedora Version ????
- [ ] Mac OS 10.15 (Catalina)
- [ ] Windows 10

Additional Possible Versions:
- [ ] Mac OS 10.14 (Mojave)

If this is not possible with

[2020-04-05 03:33] BenjamenMeyer commented on #42
Looks like Mac OS X is supported by Travis-CI.
- https://docs.travis-ci.com/user/reference/osx/
- https://docs.travis-ci.com/user/multi-os/
- Limited to 10.14 right now; no support for 10.15. That's probably okay for now.

Looks like Windows support is still experimental by Travis-CI:
- https://docs.travis-ci.com/user/reference/windows/

I suggest we start adding both the Windows and MacOS support

[2020-04-05 03:39] BenjamenMeyer commented on #40
Windows support for Travis-CI is still experimental; according to the documentation they're currently working on VS2017 support. Propose we move to VS2017 as the official compiler until that matures.

NOTE: Even once the gate is in place it'll still be allowed to fail for a while as we figure it out and as Travis-CI matures it's Windows target support.

[2020-04-05 03:48] Loki1950 commented on #38
Was not really vendored we just kept a link in our svn repo to the boost repo so we had the latest code was more for convenience for Window's builds IIRC as you mentioned no need for Linux/OSX made keeping up with it's API easier as well so we will just need to settle on the most common version in various distro but that may not be necessary for Windows may need to build a dll for linking into the

[2020-04-05 03:50] BenjamenMeyer commented on #5
Apparently there is a project section that has attempted some localization: https://github.com/vegastrike/Localization

[2020-04-05 03:53] Loki1950 commented on #40
Good reasoning @BenjamenMeyer IIRC VS2017 is supported by M$'s community version of VS

[2020-04-05 04:00] Loki1950 commented on #5
Yeah set up 5 years ago and no activity since something of a long shot :lol:

[2020-04-05 04:37] BenjamenMeyer commented on #42
I've figured out OSX. I can match all our dependencies to brew installations so we should be okay; will see once I get the PR up.

Windows support is going to be harder. The package manager Travis is using for Windows (chocolatey.org) only has the following packages that match up with our dependencies:
- python2
- openal, openalsdk

We're probably going to have to just vendor stuff for Windows or

[2020-04-05 05:18] BenjamenMeyer commented on #38
We're going to have to figure out the Windows story. Might need some off-line testing for a while.

[2020-04-05 05:20] BenjamenMeyer commented on #40
@Loki1950  updated the description per VS 2017.

[2020-04-05 05:22] BenjamenMeyer commented on #42
Added #43 which adds some more OS configurations, namely Ubuntu 18.04 and OS X.

OS X builds are allowed to fail right now, which is good b/c they are. More work is needed to get it fully working but that PR at least builds the foundation.

[2020-04-05 06:17] nabaco commented on #40
I suggest that for compiling, we support officially maintained distro's and officially maintained compilers.

So for Ubuntu, 14.04, 16.04, 18.04 with the GCC/Clang version that is supplied with them.
Once 14.04's support is fully dropped, we can drop the support for compilation on it too.
I guess the same would be for Windows+MSVC (Win10 only) and Xcode on MacOS (IDK what's the versioning there).

[2020-04-05 15:17] nabaco opened #45 "C11 - Remove compilation warnings"
Since moving to C11 standard in #35, there is a flood of compilation warnings, where are either of the following two:

- [x] `warning: ‘template<class> class std::auto_ptr’ is deprecated [-Wdeprecated-declarations]`
- [x] `warning: dynamic exception specifications are deprecated in C++11 [-Wdeprecated]`

It would be nice to remove the warnings and align our codebase with that standard.

[2020-04-05 15:17] nabaco commented on #45
@royfalk Would you be willing to take this, as you seem to be more proficient with C11?

[2020-04-06 04:47] BenjamenMeyer opened #46 "Port from OpenGL to Vulkan"
Vulkan is a newer version of OpenGL, and it'll be supported on Windows and Mac OS X too. It should also provide some higher performance. OpenGL will still be supported and advanced by Chronos (who also makes Vulkan)

How big an effort is this?
Is it worth the benefit?

[2020-04-06 05:00] BenjamenMeyer commented on #45
The `std::auto_ptr` just needs to be updated to a new smart pointer type; see https://en.wikipedia.org/wiki/Auto_ptr for some info; `std::unique_ptr` is the primary replacement, and `std::shared_ptr` might be useful too but we'll have to identify which ones need it. We can probably start by swapping them to `std::unique_ptr`.

Not sure about the other one.

[2020-04-06 06:25] royfalk commented on #46
Only if it is a relatively small effort.
Consider that we want to ditch the whole 3d engine and port to Ogre.
I suspect that we wouldn’t be touching the low level graphics in that case and leaving it to the engine.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Monday, 6 April 2020 at 7:47
To: vegastrike/Vega-Strike-En

[2020-04-06 08:40] #26 closed

[2020-04-06 09:57] pyramid3d commented on #34
IRC has the problem that it is synchronous communication. Here's an example of asynchronous communication on Gitter: https://gitter.im/Worldforge/Lobby.

[2020-04-06 10:02] pyramid3d commented on #37
Have you acquired a Jumpdrive?
For planet landing: Target planet with P key, on the bottom right VDU it should show the distance to dock (it's pretty close to the planet).

[2020-04-06 10:13] pyramid3d commented on #41
I reckon it's pretty straight forward: whoever is around and takes up a task will have the authority to participate in decisions and move things forward (as in 'the true spirit of responsible open community'). Have fun at that ;-)

[2020-04-06 14:07] BenjamenMeyer commented on #34
I'll narrow the options. Please vote using the associated icons
- [ ] gitter :heart:
- [ ] Slack :laughing:

[2020-04-06 14:12] BenjamenMeyer commented on #37
@pyramid3d yes I have a jump drive. I'll try out the targeting with `p`; I've been using `n` but hadn't seen a distance on the screen; though my setup is presently complicated by #36 too.

[2020-04-06 21:43] LifWirser commented on #45
Congradulations somebody managed to make an issue out of something that was  SOLVED.

Not only were the "auto_ptr" issue already dealt with, but the attempts to solve it AGAIN corrupted the 0.5.3 branch.
NICE JOB

[2020-04-06 21:49] BenjamenMeyer commented on #45
@LifWirser I'm not seeing any issue on the 0.5.3 branch. On master, this hasn't been solved. If there is a change that needs to be pushed to master to solve it then that should get pushed to master IMHO.

Also, we're seeing it on master now b/c of the addition of support for C++11 and C++11 deprecated `std::auto_ptr`.

[2020-04-06 21:55] BenjamenMeyer opened #48 "Branching Strategy and where work gets done..."
Pointed in #47  (https://github.com/vegastrike/Vega-Strike-Engine-Source/pull/47#issuecomment-610031798) and #45 there seems to be a discrepancy on where code changes should go, or what the branching strategy should be. I don't know what the history was under Subversion so raising this here so we can all be clear going forward on how to work on it.

There are a few options that are the norm:
1. Wo

[2020-04-06 21:58] BenjamenMeyer commented on #48
I don't know how it was done in the past. I propose following option 1 and using a Master is Pristine strategy:

1. Master branch is protected; only things that pass the PR gates (travis-ci right now) get into master.
2. Master is clean and can be released at most any time.
3. Releases create a branch for which bug fixes for the release go.
4. Primary development is on Master.

NOTE: I say "most a

[2020-04-06 22:00] nabaco commented on #45
Currently both branches are corrupted due to a change that was merged, without CI checks or a PR review (df7f7d420dec684d0af775a8a0a1d6e9bb59bc0a).
My PR should fix the issue, #29.

The issue with the auto_ptr appeared due to a decision to switch fully to C11. In my opinion, the decision was taken a bit to quickly, and without proper discussion, but I think I'm too new in the community to affect s

[2020-04-06 22:21] BenjamenMeyer commented on #45
@nabaco not sure a PR gate would have caught that without unit tests in place

[2020-04-07 04:36] BenjamenMeyer commented on #37
Okay, took a screen shot, and something funky is going on - probably because of #36 - b/c not all of the screen that is shown in the screen shot is actually visible to me, which includes the target display and distance information - basically the lower right hand corner information; I barely see the top of the display containing the planet on the right monitor; this effects everything on the right

[2020-04-07 04:45] BenjamenMeyer commented on #36
Here's a screen shot of game play.
Some things to note:
1. The screen below is not quite centered across two monitors; the unused space doesn't show up in the screen shot but appears grey on the screen. The monitor break goes through the image about one quarter the way into the right radar HUD.
2. The data in the lower right portion isn't visible - the bottom of the actual screen area that is visi

[2020-04-07 04:49] BenjamenMeyer opened #49 "Port Feature Requests from the Wiki"
Feature requests were tracked in the wiki, there's quite a few and a lot of details. It'd be helpful to actually pull them over here and mark them as such.
https://wiki.vega-strike.org/FAQ:Feature_Requests

[2020-04-07 05:12] royfalk commented on #49
That’s a good idea. Thank you.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at 7:49
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [vegastrike/Vega-Strike-Engine-Source] Port Feature Requests from th

[2020-04-07 05:15] royfalk commented on #36
I’m not sure if it’s worth pursuing at this point.
Some of these problems may go away if we move to Ogre and this one doesn’t sound easy to solve well.
My vote is to document and put on hold until we can figure out the ogre schedule.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at 7:45
To: vegas

[2020-04-07 05:35] royfalk commented on #45
For the record, I’m the one who pushed the change.
I actually debated whether to add this or not, but figured this would come up in the review.
It was clearly marked as one of the changes in the PR.

I only merged the change after:

  1.  It was approved (I think by Benjamin)
  2.  It passed available CI builds (that were supposed to work)
  3.  It worked on my machine (obviously)

My apologies fo

[2020-04-07 05:38] royfalk commented on #48
I agree. This is how we do it at my work too.
It seems to be the standard.
Not sure what you mean by 4. Did you mean development is always done in a feature branch. Master only receives merges after PR?

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at 0:58
To: vegastrike/Vega-Strike-Engine-Source

[2020-04-07 07:01] nabaco commented on #45
@BenjamenMeyer- compilation is broken. That's the only thing the CI would catch 😄

[2020-04-07 07:07] nabaco commented on #45
@royfalk removing the C11 line in engine/CMakeLists.txt breaks compilation due to your changes in the particle system. Should we revert the entire commit?

[2020-04-07 07:45] royfalk commented on #45
Are you sure it does? I only got a warning for C++11 without it.
I’m beginning to think we should all standardize (at least for a while) around a specific environment.
At least until we sort CI and decide on approved compilers.

From: Nachum Barcohen <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at 10:08
To: vegastrik

[2020-04-07 11:07] nabaco commented on #34
@BenjamenMeyer maybe we should just try to go with one of the options, and see how it works?

[2020-04-07 11:53] nabaco opened #50 "Enable -Werror compilation"
This is related to #29 and #45.

To enable this, we need to remove all the existing compilation warnings. Once we enable it, the build will fail on any new compilation warnings.
Thus, developers will deal with compilation warnings in real-time, and we'll see the failures in the CI.

[2020-04-07 11:59] nabaco commented on #27
@LifWirser This looks like a great start. Maybe we can even place in one of the repos, so it'll be a collaborative effort, and versioned :)
Regarding the C++ coding style, I think we should adapt an existing one, so we'll be able to use generally accepted tools like clang-format.
e.g. LLVM style with 4-spaces-indent.

[2020-04-07 13:38] BenjamenMeyer commented on #36
@royfalk that's fine. I think it's just a matter of adding settings to control the viewport; I might investigate from that angle as in my normal setup it's very hard to play, especially missing part of the screen.

At least for the moment, it's not a high priority - we need to get things moving as a community first.

[2020-04-07 13:44] BenjamenMeyer commented on #48
Sounds like we have agreement on this. I'll add verify branch protection on this repo since we have Travis-CI on it. We'll address other repos as work starts happening on them.

[2020-04-07 13:48] BenjamenMeyer commented on #48
admins can get around the rules when necessary at least for now; long term we may want to tighten that up, but where we are right now I think that's required.

Master is protected.
Do we want to have rules for release branches to?

[2020-04-07 13:55] BenjamenMeyer commented on #45
In the CI builds (Ubuntu 14.04, 16.04, 18.04; and Mac OSX) it only generates warnings and things build. (16.04 has its own issues which I'm working to resolved, but they're around the `isnan` and `isfinite` functionality; separate issue.)

The move to C++11 might have been a little premature; but I think there's a lot there we can gain too and we have a system in place that can verify builds to a

[2020-04-07 14:25] royfalk commented on #45
I agree that we need confidence.
We need to know our change didn’t break something for someone.
Also agree we should focus on Linux and GCC.
Next priorities should be Mac and clang.
Regarding Windows, we should wait until we can implement it in CI.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Tuesday, 7 April 2020 at

[2020-04-07 14:25] nabaco commented on #45
For Windows CI we can try AppVoyer. For me developing on Windows WSL works well, but I can't manage to test anything, so I need to go to my Linux box for that.
Clang compilation should be fixed and enabled in CI with #29, so I think we can include it too.

[2020-04-07 14:33] BenjamenMeyer commented on #45
Let's get some confidence before tackling Windows in CI - one thing at a time.
I'd also like to figure out how to get the tests working in CI too.

[2020-04-07 14:35] nabaco commented on #45
Do we have any existing tests?

[2020-04-07 14:35] BenjamenMeyer opened #52 "Automated Unit Testing"
I see the following testing asset repositories:
- https://github.com/vegastrike/Testing-Win64
- https://github.com/vegastrike/Testing-Win32
- https://github.com/vegastrike/Testing-Mac

I don't see one for Linux though; I've been using https://github.com/vegastrike/Assets-Production for local play and testing on Linux.

Presently our CI system passes based on whether or not it can *build* the syste

[2020-04-07 14:37] BenjamenMeyer commented on #45
Let's move the Testing discussion to #52

[2020-04-07 14:39] BenjamenMeyer commented on #52
Could be wrong, but I don't think tests exist right now; so this is going to be a big effort to get this going.

Python Code can be tested using Python's Unit Test and Mock functionality.
C/C++ code can be tested using https://www.boost.org/doc/libs/1_72_0/libs/test/doc/html/index.html

[2020-04-07 14:45] BenjamenMeyer commented on #34
@Loki1950 @royfalk @pyramid3d @stephengtuggy any opinions on this?

[2020-04-07 14:47] BenjamenMeyer commented on #34
I'll give folks another day to respond before moving forward with just setting something up.

[2020-04-07 14:53] stephengtuggy commented on #8
@LifWirser No worries :sunglasses: Having a little trouble finding the time myself. But very much enjoying the chance to hop in here where I can. :-)

[2020-04-07 14:56] stephengtuggy commented on #8
One note I would have about Valgrind is that, unfortunately, it feels a little too late in the process for me. Like "trying to close the barn door after the cows got out." LOL. Some sort of static analysis tools, providing feedback on the structure of the code itself at each check-in, might be preferable?

All in the spirit of continuous improvement, having patience with ourselves, taking one thin

[2020-04-07 15:07] stephengtuggy commented on #34
@BenjamenMeyer I use Slack, and am very comfortable with it, FWIW.

Slack does have a good GitHub integration, also. A bot type thing. In the third-party marketplace. Maybe I can look that up for you guys, if desired.

[2020-04-07 15:38] BenjamenMeyer commented on #34
I've used Slack (love it) and another project I'm involved with (Falcon Frameworks) uses Gitter. I also use IRC (FreeNode) still for some of my own projects.

I'm flexible and will setup what we as a group want (aside from MS Teams - let's not even go there).
Just looking to see what you all want to use.

[2020-04-07 15:40] stephengtuggy commented on #52
I am fully on board with this. :+1: May I suggest we add some sort of static analysis to our continuous integration pipeline, as well?

E.g., even in C++11, it is still possible to use language constructs that are not memory safe, b/c they do not do proper bounds checking. My understanding is that with C++ STL containers, using the `[]` array indexing operators is not bounds-checked. Using `slice`

[2020-04-07 15:41] stephengtuggy commented on #52
Also: Are we committed to using Travis CI as our Continuous Integration platform? The GitHub community as a whole seems to have migrated over to CircleCI. And I have quite a bit of experience with CircleCI, and would be happy to provide assistance with the migration, as I have time.

Up to you guys though.

[2020-04-07 15:53] BenjamenMeyer commented on #52
@stephengtuggy I don't think we're tied to any CI system yet. Before we do any migration let's get the last of the Travis-CI PRs merged.

[2020-04-07 16:00] stephengtuggy commented on #38
Yeah, personally, I don't think Boost is outdated at all. Seems to be a very helpful and widely accepted supplement to the official C++ standards. But maybe that's just me. Would like to get more of a read on the rest of y'all's take.

[2020-04-07 16:10] stephengtuggy commented on #38
As for including a whole separate copy of the Boost source code in our (Vega Strike) repos, I have never been a fan of that. There's got to be a better way. Although it may take some time to figure out what.

Yes, definitely! I spent literally two months trying to get the stupid thing to build on Windows. Grrr.

One thing that I can tell you definitely DOESN'T work: Visual Studio 2019. Use VS2017

[2020-04-07 16:12] stephengtuggy commented on #38
So, question: On Ubuntu 18.10 and other working Linux build environments, I take it that including the appropriate `libboost` apt packages directly "just works"?

[2020-04-07 16:18] stephengtuggy opened #53 "Figure out and fix Windows compilation"
So guys. Last year, I literally spent **2 months** trying to build Vega Strike on Windows 10! One of the most frustrating experiences of my developer life.

One thing I CAN tell you, is that Visual Studio 2019 is a no-go as a development environment. The required third-party dependencies just hadn't been updated to support VS2019. VS2017 is probably the latest version that will work.

We will also

[2020-04-07 16:18] stephengtuggy commented on #53
Relates to #46

[2020-04-07 16:19] BenjamenMeyer commented on #38
IIRC Boost is an official extension to Standard C++ and parts are officially in C++. So yes, I'm a fan of Boost. (Bigger fan of Qt; but that's beside the matter. And no, I'm not going to push to move to Qt.)

Per Windows, yes, let's keep that in a separate issue.

I've been running 19.04 and keep upgrading every 6 months; just swapped to 19.10 since it had some upgrade issues early on. I'll upgrad

[2020-04-07 16:19] stephengtuggy commented on #53
Relates to #52

[2020-04-07 16:20] stephengtuggy commented on #52
@BenjamenMeyer Sure thing.

[2020-04-07 16:36] stephengtuggy commented on #38
Separate issue filed for Windows: #53

[2020-04-07 16:38] stephengtuggy commented on #38
:+1:

Done. #53

Sounds good, man.

[2020-04-07 16:41] BenjamenMeyer commented on #53
I don't think there's a good cross-platform replacement for CMake. AutoTools are a no-go on Windows.  QMake is nice but Qt is looking to drop it in favor of CMake; even their qbs is being dropped in favor of CMake.

Starting with VS2017 sounds good as far as Windows goes.

As to changing compilers - I'm more in favor of supporting multiple compilers - so supporting GCC, Clang, LLVM, and VC at the

[2020-04-07 16:57] stephengtuggy commented on #40
@nabaco Sounds good to me. On that same line, I think we could include Ubuntu 19.10 as well. Possibly `LLVM` (do I have that right?) And maybe at some point, we can try to get the code working on Debian 10 (Buster), as well.

[2020-04-07 16:59] stephengtuggy commented on #40
I will further add that when an operating system or version is no longer supported, that almost immediately brings serious security vulnerabilities. So from a DevSecOps perspective, we will probably want to stay away from older platforms that aren't alive anymore. ;-) But hopefully continue to support hardware that's decently current (within the last 5 years?) on an ongoing, rolling basis.

[2020-04-07 17:17] royfalk commented on #53
From Wikipedia: The Clang project provides a language front-end and tooling infrastructure for languages in the C language family (C, C++, Objective C/C++, OpenCL, CUDA, and RenderScript) for the LLVM<https://www.llvm.org/> project.
So that's one thing less to worry about.
________________________________
From: Benjamen Meyer <notifications@github.com>
Sent: Tuesday, April 7, 2020 7:41:17 PM
To: v

[2020-04-07 17:30] stephengtuggy commented on #53
Fair enough. Mozilla `mach` might be an option though. Maybe. I still need to find out a little more about it.

On a different topic: the process of collecting third-party dependencies is different on every system. It is a headache and a half. CMake will build them, once you have them. But how do you find the right libraries/downloads in the first place? Esp. on Windows.

How about using some sort

[2020-04-07 17:34] Loki1950 commented on #36
IIRC assigning monitor settings is handled by SDL and it changed from SDL1 and SDL2 my normal work station has two monitors

[2020-04-07 17:35] BenjamenMeyer commented on #53
CMake can retrieve things from FTP/HTTP too. So we if we didn't vendor, we could have a repo/artifact storage that has copies. If it's not available in the system then CMake could download it.

Alternative is using some kind of cross-platform package manager, but then we may have to vendor/package that ourselves too on all the platforms at least for the CI system.

Certainly open to ideas; best be

[2020-04-07 17:38] Loki1950 commented on #25
IIRC this is a long standing bug mutli missions where never handled right

[2020-04-07 18:15] stephengtuggy commented on #46
My 2 cents:

I think switching to Vulkan may be a rather large effort. (Though I don't know for sure.) But I definitely think it's worth it. Vulkan is the future, as far as I can tell. We won't be able to avoid it forever. Why not make the switch during the current push to modernize/overhaul/refactor the code?

[2020-04-07 18:19] nabaco commented on #40
@stephengtuggy just a comment, AFAIK, LLVM==clang

[2020-04-07 18:20] stephengtuggy opened #54 "Replace CMake with a alternative build system?"
So. Last year, I literally spent *two months* tearing my hair out, trying to get CMake to work across Windows and Linux, and to get the stupid thing to actually *build*!

My takeaway? It just isn't worth it. CMake is not the build system it once was. We should probably consider other alternatives, just for ease of development, if nothing else.

One possibility is the Mozilla `mach` build system. O

[2020-04-07 18:21] stephengtuggy commented on #54
Relates to #53

[2020-04-07 18:24] nabaco commented on #53
What about cmake -G "Visual Studio 2017". I've seen it used in other projects, might it be relevant to us?

[2020-04-07 18:27] stephengtuggy opened #55 "Use `fpm` to bundle third-party dependencies across platforms?"
Another open-source project I've been involved with -- [wkhtmltopdf](https://github.com/wkhtmltopdf/packaging) -- uses something called [`fpm`](https://fpm.readthedocs.io/en/latest/) to pull in their third-party build dependencies across different platforms. `fpm` stands for "Effing Package Manager". :-P It seems to work rather well. Simplifies a lot of the process of finding all the right package

[2020-04-07 18:28] stephengtuggy commented on #55
Relates to #53

[2020-04-07 18:28] stephengtuggy commented on #55
Relates to #54

[2020-04-07 18:31] stephengtuggy commented on #53
Hmm. Didn't know that. That's good to know.

From a DevSecOps perspective, I am always concerned about vendoring, because then your copy of the vendor's software doesn't stay up to date. At least, not unless you REALLY stay on top of it. All too often, these out-of-date libraries end up with known security holes, which can cause some huge problems for your machine as a whole.

[2020-04-07 18:38] stephengtuggy commented on #45
@royfalk Good job taking responsibility for the mistake. We all make mistakes; it's a sign of a mature software developer that you were able to admit it. :clap:

I agree with just about everything else you said. Maybe just one point: Normally I would prefer STL smart pointer types over boost, but, not sure that STL has what we need. It looks to me like what we need is something called [`boost::int

[2020-04-07 19:22] BenjamenMeyer commented on #27
@LifWirser  can we please get that in the repo or on the Wiki so we can collaborate on it?

[2020-04-07 19:31] BenjamenMeyer commented on #40
@stephengtuggy I suggest for Ubuntu we stick to LTS versions as official supported, may be running the lastest 6 month (which 19.10 would fall into, but it'll quickly fall off).

I'm open to adding anything, but one step at a time. Let's get Ubuntu down first then we can add Debian - an easy jump.

[2020-04-08 03:47] BenjamenMeyer opened #56 "Restructure the source"
I started looking at the https://github.com/vegastrike/Vega-Strike-Engine-Source/blob/master/engine/CMakeLists.txt in part to add a C++ Linter and test it out. I did manage to get something, but it might have changed compilers on me since it was clang-tidy. Any how... I started looking at the file itself. There's a lot of cleanup that can be done to it and make it less work to maintain. For exampl

[2020-04-08 03:51] BenjamenMeyer commented on #48
I applied the protections on master to 0.5.* branches too.

[2020-04-08 04:07] BenjamenMeyer commented on #56
I'm going to also suggest too that we change up the location of CMakeFiles.txt so that it's at the base or the tree; we can layer them in sub-directories as needed. This will clean up the structure and bring things to standard more.

[2020-04-08 04:17] BenjamenMeyer commented on #56
I'll take on the restructure if you all want to do it. If not; I'll leave things long.

[2020-04-08 04:39] BenjamenMeyer commented on #40
For each platform, we use the default compiler versions for that platform where available.
So for Ubuntu 20.04 we use the default GCC and CLang compilers.
Similar for Mac OS X since the XCode Suite is tied to the releases.
For Windows we define a default since there isn't one natively provided.

[2020-04-08 04:41] BenjamenMeyer commented on #56
One goal here would be to enable making different compiler targets and even tooling too.

[2020-04-08 05:05] royfalk commented on #56
Given the fact that a lot of the code is about the multiplayer and server, I would strongly urge that any major refactoring and restructuring begins with a complete removal of these components. I've done this (and broke something) in my repo (https://github.com/royfalk/vegastrike-code). The result would be a much smaller code base without any impact on game play.
A followup issue can remove warnin

[2020-04-08 05:17] royfalk opened #58 "Announce the return from the dead of this project"
I've been playing this game since 2005 or so and development tapered off around 2010 or a bit later. So much so that there are posts in https://forums.vega-strike.org/ asking whether the project is still alive.
We need to boldly claim it is and start communicating with the users. I saw there was a post there about moving to github.

To Do:
- Announce something in the forums
- Announce something in

[2020-04-08 05:27] #42 closed

[2020-04-08 05:37] BenjamenMeyer commented on #58
@royfalk I agree. I've played a variant (Privateer Gemini) in the past. I've tried to get involved here in the last few years just haven't had time, so I'm excited to see this all moving right now.

1. Yes, I'd love to move the Wiki here. The Wiki's in Git are git version controlled, you can check them out just like any repo for quick migrations, etc.
2. I'd like to hold off on an announcement unt

[2020-04-08 11:02] LifWirser commented on #45
@BenjamenMeyer How is it then when I tried to clone 0.5.3 to verify a fix for current issues I started to get "auto_ptr compiler warenings when 0.5.3 had NONE before? Did you by chance sync 0.5.3 to mastrer insteade of the other way around (looks like it to me). Why do think I closed the smart pointer? I knew it was solved. I also knew the repository need to be redone , in a careful manner, to pre

[2020-04-08 15:28] BenjamenMeyer commented on #45
@LifWirser While I understand your frustations, please be aware that:

1. The 0.5.3 Tag has not changed.
2. I actually haven't touched the 0.5.3 branch; I've only worked on master (https://github.com/vegastrike/Vega-Strike-Engine-Source/pulls?q=is%3Apr+author%3ABenjamenMeyer+is%3Aclosed), and anything I have put up I have at least run vegastrike to verify to the degree I can.
3. I do contribute re

[2020-04-08 18:54] stephengtuggy commented on #45
@LifWirser Whoa, whoa, dude, time out! No need to get like that!

Personally, I don't see any evidence that anyone is acting in bad faith here. Please, let's try to give each other a break. (And ourselves, too, when we need one!)

Pretty sure no code has been lost. At least not irretrievably. Even if 0.5.3 got rolled back, there are probably other copies of it lying around somewhere. And if not, t

[2020-04-08 19:04] stephengtuggy commented on #40
@nabaco You're right. Gah, I was forgetting the details on that. Thanks.

[2020-04-08 19:05] stephengtuggy commented on #40
@BenjamenMeyer Sounds good to me.

On Windows specifically, Visual Studio (2017?) could probably be considered the default. Other than that, everything looks good! :+1:

[2020-04-09 02:39] BenjamenMeyer commented on #48
@vegastrike/core-reviewers  if we 're going to go with the branch strategy I proposed in https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/48#issuecomment-610059003 then I think we need to roll back any changes to the `0.5.3` branch to when it was released; it should only get changes specifically designated for 0.5.3 and changes should only go to `master` right now.

Thoughts?

[2020-04-09 03:22] BenjamenMeyer opened #59 "Historical Branches"
We need a way to provide updates to existing releases. Currently we have `master` and an `0.5.x` series. I propose the following:
- Git Tags are used to mark each specific release.
- Each series (0.5.x, 0.4.x, etc) gets its own maintenance branch.

To do this, we need to do the following:
- [ ] Define what release series we are supporting
- [ ] Create a branch for each supported branch
  - [ ] Ren

[2020-04-09 03:26] BenjamenMeyer commented on #59
One can create a branch from a tag with:
[code]
And then push it via since the tag and branch have the same name:
[code]

However, to do this on the org's repositories requires certain permissions to do.
I can't see it how to do the same thing in the GitHub UI.

[2020-04-09 05:43] royfalk commented on #59
My vote is to not support older versions with one exception: Provide a way to convert savegame files if these change.

My reasons:
1. It takes resources we don't have. An hour spent on this is an hour not spent on a new feature or bug fix to master.
2. Unlike commercial/mission critical products, we don't have paying customers and there's no expectation of such support. Players are far less sensit

[2020-04-09 05:49] royfalk opened #60 "Drop server support"
A large portion of the code is server code. It complicates things and AFAIK, it doesn't work.
Dropping it (carefully!) would greatly simplify the code base, especially once we remove the resulting unused code.
The world changed a lot since this code was written. We can probably find server infrastructure designed for RT gaming. If we get to the point this is relevant, starting from scratch using s

[2020-04-09 13:43] LifWirser commented on #45
@stephengtuggy  Having a more complete understanding of the situation ,I disagree

@BenjamenMeyer Idont recalling syncing 0.5.3 with the master, I apoligize if I accused you in error. However somebody did and in the process wiped out the latest version of the Vegastrike engine.
@stephengtuggy do you have or know where  to find any such copies?

Let me try to explain.
 When the gitHup vegastrike wa

[2020-04-09 14:08] BenjamenMeyer commented on #59
@royfalk  in general I agree; though I think we should probably keep 1 historic branch active (0.5.0) in case we need to do sub-releases between release. That way we can mess up master in ways that leave us unable to release for a period *when necessary* (the exception not the rule); some changes like restructuring stuff might require that. We can effectively make branches Read-Only when we're don

[2020-04-09 14:11] BenjamenMeyer commented on #60
I'd suggest we create a branch first (feature_server-support or something) before dropping it from master.

I do agree that removing it would likely simplify stuff so we can get our head around things first, and then come back and tackle it later one.

[2020-04-09 14:21] BenjamenMeyer opened #61 "Locating the `taose` code"
There is fork that utilizes a branch named `taose` which according to @LifWirser is suppose to be available here. Let's find it and ensure the branch is tracked properly.

@LifWirser  is https://github.com/Taose/Vegastrike-taose it?

[2020-04-09 14:33] BenjamenMeyer opened #62 "Who should be in the Core group?"
Who should be in the core development and reviewers group?

Requirements:
- be active
- review PRs
- be in the chat channels (once established) on a regularly basis
- answer questions
- help establish the rules for contributions, etc.

[2020-04-09 14:34] BenjamenMeyer commented on #62
I'd like to start off by nominating the following:
- @LifWirser
- @stephengtuggy
- @Loki1950
- @pyramid3d

[2020-04-09 14:39] BenjamenMeyer commented on #45
@LifWirser Let's vid chat and we can work out the restoration. I'd like to understand more about the "wiped out the lastest version" side of things; however, based on previous experience I think this is going to be something we need to talk about face-to-face ala Zoom, etc. I have not seen anything merged through a PR where someone said "do not do this" or any similar language - in fact, we've had

[2020-04-09 14:58] royfalk commented on #59
That's exactly what I meant.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benjamen Meyer <notifications@github.com>
Sent: Thursday, April 9, 2020 5:08:54 PM
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.github.com>
Cc: Roy Falk <roy@falk.co.il>; Mention <mention@noreply.github.com>
Subject: Re: [vegastrike/Vega-Strike-Engine-

[2020-04-09 16:12] Loki1950 commented on #60
Might be a good idea but my option of the technical details is meaningless due to my lack of C++ experience

[2020-04-09 16:55] zonkmachine commented on #61
is https://github.com/Taose/Vegastrike-taose it?

Yes. Announcement here: https://forums.vega-strike.org/viewtopic.php?f=8&t=27852

[2020-04-09 18:19] nabaco commented on #56
@royfalk Why are are you offering to remove the multiplayer/server code? It doesn't work at all? Are you offering to re-write it from scratch once we bring the SP up to level?

[2020-04-09 18:47] nabaco opened #63 "Fix compilation with OGRE"
I see that there are two compilation options that are explicitly disabled, due to broken compilation. One of the is compilation with **OGRE**. The current code base is set to compile with an older version of OGRE, but some APIs have changed since, so the code needs to be adapted.

Additionally, looking at different posts on the forum and the wiki, it's unclear to me whether the project ever actual

[2020-04-09 18:48] nabaco opened #64 "Fix compilation with FFMPEG"
I see that there are two compilation options that are explicitly disabled, due to broken compilation. One of the is compilation with **FFMPEG**. The current code base is set to compile with an older version of FFMPEG, but some APIs have changed since, so the code needs to be adapted.

Since I'm new to the project, I don't really know what ffmpeg was used for in the past (maybe replace OpenAL?), an

[2020-04-09 19:22] royfalk commented on #60
From the forum:
https://forums.vega-strike.org/viewtopic.php?f=1&t=27008&p=145040&hilit=server&sid=1634e43c62b38c9cb466cbf0fd7c1105#p145040
https://forums.vega-strike.org/viewtopic.php?f=1&t=27008&p=145040&hilit=server&sid=1634e43c62b38c9cb466cbf0fd7c1105#p145040

I did a serious review of the network code as part of a general refactoring effort. It (like a lot of stuff) touches everything and eve

[2020-04-09 19:54] Loki1950 commented on #60
There was a multi-player server setup for testing and it exposed several major bugs IIRC that where not resolved was more 1 on 1 than anything else though that was largely due to the low participation

[2020-04-09 20:45] BenjamenMeyer commented on #61
Cool. We can certainly check against it and reference it as we bring things up.

[2020-04-09 22:46] zonkmachine commented on #61
And maybe bumping @Taose works too?

[2020-04-10 04:05] BenjamenMeyer commented on #34
As of right now, we have one vote for Slack and one for Gitter. I've used Slack a lot more than Gitter, but here's my current though:

- Gitter seems more light weight for users since you can sign in with your github or other federated accounts.
- Slack requires getting an invite, creating an account, etc - at least for the others I have run.
- Both seem to be good platforms, have GitHub integrati

[2020-04-10 05:12] royfalk commented on #62
Note that @Loki1950, by his own admission, doesn't know C++.

I'd separate this into two roles: reviewer and dev.
I'd nominate @BenjamenMeyer as additional reviewer. He has the experience and bandwidth to do this. He also seems willing to do this.

Even though I joined the team at the same time as Stephen, I prefer not to be an official reviewer for one simple reason. I am an experienced programme

[2020-04-10 05:15] royfalk commented on #64
I think I did that as part of my failed attempt to refactor the game.
Take a look at my SVN fork repo. I remember working on these files and hitting and fixing the same issue.

[2020-04-10 05:17] royfalk commented on #63
My hazy recollection is of an early alpha attempt.
My vote is to refactor out. When we stabilize the code, we can start fresh.

[2020-04-10 06:51] nabaco commented on #62
Hi @royfalk, as willing as I am to review PRs, I have the same problem that you do. I'm mostly a C programmer, and am quite new to C++ **and** this project.

Though I would like to say that reviewing PRs doesn't necessarily requires knowledge of C++. Once PRs will begin coming from outside of the core group, there will PRs for python, documentation, art, music, etc. So the question is, @BenjamenMe

[2020-04-10 12:48] nabaco opened #66 "Documentation and Doxygen hosting"
I know that in the past there was a place where all of the Doxygen documentation was hosted. It seems to me that all the old links are broken.

I offer that we find a solution to host our documentation, for users, devs, and modders. Maybe something like readthedocs.org? Or on the existing vega-strike.org server?

Ideally the Doxygen documentation will be updated automatically upon every merge, and

[2020-04-10 13:39] BenjamenMeyer commented on #62
@royfalk  thanks for the nomination; if enough folks agree (especially @LifWirser) I'll accept.

@nabaco that's mostly a question to the community; generally it's what I outlined above and also merge responsibility.

@royfalk as @nabaco pointed out - there's a lot of stuff here. Right now we're mostly focused on the C++ code, but expertise in other areas will be important too. Even as we work on t

[2020-04-10 13:48] BenjamenMeyer commented on #66
It'd probably be good to use the GitHub pages approach like ogrecave did in your example.
There may be a means of mapping the vega-strike.org domain in...though that might require a spend with GitHub (not sure).

[2020-04-10 15:43] royfalk commented on #34
OK. Let's go with gitter.
We have three votes.
(If it turns out to be awful, we'll switch.)

[2020-04-10 15:52] stephengtuggy commented on #62
I believe @LifWirser indicated that he was feeling the need to take a step back from the project, and "fade into the background" (if I recall his words correctly). I suggest that we honor his request, and allow him to do just that.

As for myself, I really appreciate the invitation to be a member of the core group. I will consider it and get back to you guys, hopefully within a day or two.

Like @

[2020-04-10 15:58] stephengtuggy commented on #62
Oh, one other thing: I would like membership in the "core" group to be flexible, and somewhat subject to change. As other contributors join the community (hopefully) and begin taking a more active role -- showing both maturity and the ability to contribute positively on a technical level -- I would like the invitation to be extended to them as well.

I am a big fan of inclusivity, myself. :sunglas

[2020-04-10 16:01] stephengtuggy commented on #62
And I would like to nominate @BenjamenMeyer as well. :+1:

[2020-04-10 16:02] BenjamenMeyer commented on #62
@stephengtuggy  yes, I see it as a group that will change over time. As things mature we'll come up with a method of making that change (voting, proposals, etc.). I've seen a few different models by different communities:

- Community nominates with open membership
- Community has a small set that rotates based on votes and time frames
- Static membership, community votes when folks step down to a

[2020-04-10 16:04] stephengtuggy commented on #48
I vote yes: rules for release branches too.

[2020-04-10 16:21] stephengtuggy commented on #48
The "Master is Pristine" strategy sounds good to me. At my last job, we typically used something very similar to your proposal, @BenjamenMeyer , but with the addition of a `development` branch as sort of a staggered `master` branch. We would typically get work done on feature branches etc. Usually only one or two contributors working on a particular feature branch at a time. Then these feature bra

[2020-04-10 16:25] BenjamenMeyer commented on #34
Okay. I seem to be missing a permission for the VegaStrike org to enable the integration. @pyramid3d or someone will have to accept the permission grant before I can get the right setup in gitter.

[2020-04-10 16:34] BenjamenMeyer commented on #48
@stephengtuggy  generally yes. I generally use a Forking strategy as opposed to a Feature Branch strategy; but otherwise very similar. Haven't used `git-flow` myself. Whether we need a branch other than `master` or the current release branch, will greatly depend on how fast we move as a community.

The Qt community has a very fast development pace, so the every day devs use a `dev` branch; communi

[2020-04-10 16:37] royfalk commented on #34
I'll try. What do I need to do?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benjamen Meyer <notifications@github.com>
Sent: Friday, April 10, 2020 7:25:29 PM
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.github.com>
Cc: Roy Falk <roy@falk.co.il>; Mention <mention@noreply.github.com>
Subject: Re: [vegastrike/Vega-Strike-Engin

[2020-04-10 16:41] BenjamenMeyer commented on #34
@royfalk  Checked an org I fully own and it should be something under:
https://github.com/organizations/VegaStrike/settings/oauth_application_policy

I munged the URL based on my other org. If it doesn't work:
- VegaStrike Org :arrow_right: settings  :arrow_right: Third Party Access

[2020-04-10 16:52] royfalk commented on #34
Nope. We need an owner.
@Loki1950, could you please set this up based on Benjamen's instructions above.
Thanks.

[2020-04-10 18:33] Loki1950 commented on #34
Approved @nabaco request

[2020-04-10 18:47] BenjamenMeyer commented on #34
https://gitter.im/vegastrike/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2020-04-10 18:53] BenjamenMeyer commented on #34
I've sent out invites to those in this discussion. Please add others - I obviously won't be able to know everyone that should get an invite; so if you're reading this and didn't get an invite please don't read anything into that.

[2020-04-12 21:17] nabaco opened #68 "Define validation procedure for Pull Requests"
I suggest that we define a validation procedure for Pull Requests, that will present a basic acceptance criteria for changes based on tests that the CI can't make.
I'm still new to the VS universe to say all the details, but I'd that it'd be something like:
- Start with ship A in location XYZ. Fly to N.
- Start with ship B in location ___. Make a fight.
- Fly into a nebula.
- Etc.

It should be a

[2020-04-13 04:33] royfalk commented on #68
For now, I fly, fire guns and missiles. If I have more time, I pick a fight with Oswald.
Once the code is better decoupled, we can write unit tests.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nachum Barcohen <notifications@github.com>
Sent: Monday, April 13, 2020 12:17:59 AM
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.git

[2020-04-13 05:20] nabaco commented on #68
That does sound like a good bare minimum :smile: I would add to that docking, a SPEC flight, and a jump, and that should get most things tested.

[2020-04-13 07:40] bmorel commented on #45
Hello. I cloned that repo few days ago, had those warnings, fixed lot of those (but not all, there are some that will imply better understanding of the codebase, others that annoyed me too much) locally.

Just fetched the current state (763fbac3728223accc87a2fb0ace904735d55584 as of writing), rebased my changes on it (no conflicts, so I guess the lines I touched were not fixed since my original ch

[2020-04-13 07:57] bmorel commented on #45
Oh, forgot to mention few things...

I use Debian 10 (buster) and clang 7. My CXX_FLAGS is usually: "-std=c++11 -Weverything -Wno-c++98-compat-pedantic -Wno-c++98-compat -stdlib=libc++" (and writing this I note that I should add some stuff there).

This patch has been built against both g++ in normal, default setup and clang++ with my own. Except still tons of warnings, no break. I could (despite

[2020-04-13 08:13] nabaco commented on #45
Hi @bmorel, I have looked at your patch and seems very similar to what I have done in #65, #29, #47.
Maybe you can comment there and we can try to progress the existing Pull Requests. Otherwise, if you prefer, we can open a Pull Request with your patch.
Feel free to jump to the Gitter channel to discuss this in more detail :smile:

[2020-04-13 12:04] bmorel commented on #45
Le Mon, 13 Apr 2020 01:13:38 -0700,
Nachum Barcohen <notifications@github.com> a écrit :

Well, using a webbrowser to browse code is really something I hate
(especially on websites using low contrasts, it forces me to move the
browser to my main screen).
Now that I have replyed to this, at least I can use my mail client for
the most basic actions at least... anyway.

About the pull requests you me

[2020-04-13 18:15] BenjamenMeyer commented on #68
I'd add docking to a non-planet location (mining base, etc) as well.
Also, let's note that this has to be on a single monitor; multi-monitor doesn't work.

@nabaco can you please add a document either to the repo or Wiki outlining these steps and what do to.

[2020-04-13 19:34] nabaco commented on #68
No problem, will do

[2020-04-14 05:32] pyramid3d commented on #61
Don't bother. It is a very old code forked even before the move of the main code from svn to github. The history is lost on that fork but I can confirm that it does not contain any changes over the past 10 years or so.

[2020-04-14 05:37] pyramid3d commented on #58
Use available infrastructure as much as possible. It would be beneficial to gain access to the old servers (forum, web, wiki) and archive everything. Daniel still should have the power to grant that access.
As far as knowledge transfer goes, all my brain is put into the wiki, though I am happy to help answer the one or other question as much as possible.
I am glad to see this project move again. K

[2020-04-14 05:42] pyramid3d commented on #34
Thanks for the setup and invite on Gitter. I would have voted for Gitter in this thread but dunno how.

[2020-04-14 15:49] Loki1950 commented on #64
Use of ffmpeg was to do in game cut scenes though it has not been implemented a all so for now non critical

[2020-04-14 15:56] Loki1950 commented on #63
ATM to only mesher uses the Ogre libs for creating/converting to our binary mesh format it's a cli tool and used by pyramid's UnitConveter which is a asset creation/management app

[2020-04-15 02:44] BenjamenMeyer commented on #34
Since we're on gitter, and it's in the README, closing this for the time being. If we can open it up if we need to continue the conversation.

[2020-04-15 02:44] #34 closed

[2020-04-16 19:31] BottledByte commented on #34
Sorry for commenting a recently closed issue, but I have an idea related to this and I do not think that new separate issue should be opened.

I think that Gitter is good solution for pure dev-related communication due to its good integration with Github. However, *secondary* communication platform might be useful. I think that Discord is a good candidate, for:
1) It has a good voice chat support,

[2020-04-16 20:14] BenjamenMeyer commented on #34
@BottledByte thanks for the information. I'm not sure if we're ready to take on using two tools right now, but it's good to have that documented. Thanks!

Yes, there will be a dev meeting soon, and we'll be using Zoom at least for this first time. We'll coordinate it in Gitter. We'll see how it goes; we might need something different next time around.

[2020-04-16 20:19] BenjamenMeyer commented on #34
Just doing a quick check of Discord (since I'm not very familiar with it); it has a similar draw back as Slack (which also has Video chats built-in) in that it has its own account system. Granted, many gamers may already have a Discord account; though I'm not sure if the overlap we need between Gamers and Developers might be right...not ruling it out, just noting what I'm finding on a quick check.

[2020-04-17 01:50] BottledByte commented on #34
@BenjamenMeyer I agree with you. Handling another separate platform now would probably not worth the effort and that the entry barrier can be too high for the devs. I just wanted to point out Discord's strengths and potential for the future.

But there is one thing about the dev meeting I have in mind.
I think that [Jitsi](https://meet.jit.si/) could be used for it instead of Zoom. It does not req

[2020-04-17 02:45] BenjamenMeyer commented on #34
Jitsi could be interesting to try out. I'm not tied to anything in particular - I offered up Zoom b/c I already had a free account for it.

[2020-04-17 03:38] BenjamenMeyer commented on #36
Work around right now is to just use Windowed mode instead of Full Screen mode.
I think that's generally acceptable until we can get proper multi-monitor support in.

[2020-04-17 06:35] nabaco commented on #34
I invite everyone to a meeting today (17/04/2020) at 1PM EDT/8PM IDT in Jitsi. To stay updated in case of time changes I suggest to go to Gitter.

You are invited to join a meeting.
Join the meeting:
https://meet.jit.si/VegaStrikeRevivalKickoffMeeting

To join by phone instead, tap this: +1.512.402.2718,,1728453447#

Looking for a different dial-in number?
See meeting dial-in numbers: https://meet

[2020-04-17 08:08] nabaco commented on #34
It escaped my attention that today is Friday, so I'm moving this to Monday (20/04/2020) to fit everyone's schedule. My apologies.

[2020-04-17 16:58] Loki1950 commented on #36
When in testing mode I use to run in widowed mode from a terminal window for max info

[2020-04-18 22:15] nabaco commented on #68
@BenjamenMeyer done: https://github.com/vegastrike/Vega-Strike-Engine-Source/wiki/Pull-Request-Validation

I'll be glad to hear your feedback. If it seems OK, we can close the issue for now.

[2020-04-19 03:00] BenjamenMeyer commented on #36
@Loki1950 probably one of those things we need to document for testing purposes.

[2020-04-19 03:04] BenjamenMeyer commented on #68
@nabaco looks like a good start. We should get more detail in around each of the validation steps so folks can follow a planned script.

@Loki1950 might want to add some information there on a proper setup configuration (window mode) and some information about looking at the output from a terminal that it's running in while doing the steps.

[2020-04-19 05:55] nabaco commented on #68
@BenjamenMeyer What sort of extra detail are you thinking about? I'll be glad to add when I have some free time.

[2020-04-19 12:34] BenjamenMeyer commented on #68
@nabaco we probably should give step by step instructions.

For instance:

1. Launch
2. Go to Max speed
3. Reduce speed to zero
4. Retro-burn and reduce velocity to zero
5. Go to 150kps
6. Turn left for 5 seconds
7. Go straight for 5 seconds
8. Turn right for 5 seconds
etc.

We want to make sure people are doing the same thing.

I realize the dogfight might be harder to script; but let's do what w

[2020-04-19 15:16] Loki1950 commented on #68
The terminal output shows stdout and stderr streams therefore giving exactly where in the code something goes wrong I also would pipe the terminal output to 2 files so that the data persists and can be shared with other bug stampers

[2020-04-20 11:12] nabaco commented on #63
Closing the issue since OGRE is not really integrated, so it's not worth fixing right now.

[2020-04-20 11:12] #63 closed

[2020-04-20 11:14] nabaco commented on #64
Closing the issue as irrelevant. When the time comes, we'll reintegrate FFMPEG from scratch, if deemed appropriate.

[2020-04-20 11:14] #64 closed

[2020-04-20 13:56] Loki1950 commented on #63
Which leaves us with a broken mesher utility so no maintenance of the assets

[2020-04-20 14:17] klaussfreire commented on #63
Mesher should build fine without Ogre. Ogre support is optional, or should be.

[2020-04-20 14:21] nabaco commented on #63
From what I've seen mesher compiles just fine, though I haven't used it to test functionality.

[2020-04-20 16:07] nabaco commented on #53
I've been trying to tackle this task lately. Running cmake on windows works like a charm for me, the main problem is finding the libraries.

I have found the following library so far:
- freeglut
- openal
- libpng
- SDL
- vorbis
- zlib

And am currently stuck on Math lib 😞

Any help will be appreciated.

[2020-04-20 16:52] Loki1950 commented on #63
Thx for checking I will building later this afternoon and testing mesher with unitconveter the Python GUI that pyramid3D wrote

[2020-04-20 18:59] nabaco commented on #60
@royfalk as discussed in the last meeting, we agreed to remove the server/multiplayer code. So I'm assigning the issue to you for now and you can go on and do it.
Feel free to unassign yourself if you're busy with other things right now.

[2020-04-20 19:09] nabaco opened #71 "Remove Ogre related code"
As discussed in the last community meeting, we want to heavily refactor the codebase do simplify it. This includes removing all the legacy/irrelevant code, such as the OGRE integration code which doesn't actually work.
I'm opening this issue to track the code removal. A choice of a different game engine will be tracked in a separate issue.

[2020-04-20 19:15] nabaco opened #72 "Investigate alternative game engine technologies"
As discussed in the last community meeting, we want to drop OGRE code, and consider future integration with a different game engine.
This issue is to discuss with alternative game engine we should choose.

-- UPDATE --
Currently, the options are:
- Game Engine:
    - [ ] Replace the VS game engine with [Godot engine](https://github.com/godotengine/godot).
- Replace the Render Engine:
    - [ ] Dir

[2020-04-20 19:18] nabaco opened #73 "Refactor Unit"
As discussed in the last community meeting, we want to refactor the Unit classes, merging them together and simplifying the codebase.
I'm still not very familiar with that codebase, so maybe @danielrh will be able to offer some more technical details on how this can be done.

[2020-04-20 19:20] nabaco commented on #73
@BottledByte will you be willing to take this task upon yourself? Feel free to reject if you're dealing with other things right now.

[2020-04-20 19:29] BenjamenMeyer commented on #53
FYi - there's a few parallel repositories that probably have the stuff you need for building/running on Windows. We may need to do updates, but they're there. See the Wiki and the repo list.

[2020-04-20 19:35] BenjamenMeyer commented on #72
Sorry I missed the meeting; Q: Isn't VS its own game engine?

[2020-04-20 19:38] pheonixstorm commented on #72
Yes

[2020-04-20 21:00] nabaco commented on #72
Yes VS has a custom game engine. But that brings several issues.
1. Currently, it's based on old libraries (e.g. opengl1) and implements some low-level code, which turns this into a real maintenance challenge. Add to that poor documentation and lack of developers that know what's actually happening there.
2. Since it's a custom engine, it requires custom tools for content creation (see the mesher

[2020-04-20 21:11] BenjamenMeyer commented on #72
So for `1` - that's the nature of a game engine.
For `2` and `3` - perhaps we could integrate with Gimp and Blender to do some of that work?

Not sure there are many open source game engines that do what VegaStrike does, or could easily be extended to do so. There's already projects out there that use VS as a backend too, so:

- We need to ensure we maintain some support for older tooling, even if

[2020-04-20 21:22] BottledByte commented on #73
I see that @danielrh is assigned to this task already, so I am not sure if that means that he is going to refactor it. If he is only gathering some info about it, I will gladly take this task myself, but some ideas on how to do this would be indeed useful. But I will try my best anyway :)

[2020-04-21 00:07] BottledByte commented on #72
If I may join to the discussion, I have some thoughts on this.

**First about the Godot engine:**
I have been investigating open source game engines for a long time now and have some knowledge about (and personal experience with) Godot:
1) Godot is a *general-purpose game engine* (like Unity is, for example), therefore it lacks some optimizations that might be desired for a space game like VS is.

[2020-04-21 00:21] Loki1950 commented on #73
I do not think that danielrh can be very active ATM

[2020-04-21 00:54] Loki1950 commented on #72
My main concern with Godot is can we have our huge star systems to proper scale using it.We currently use Python 2.7 for a script language and for the GUI it's EOL so GDScript could be a replacement if we go with Godot BTW bfgx looks nice too now we really need a handle on asset creation pipeline I'm a basic level blender user and also with https://github.com/makehumancommunity/makehuman as a foru

[2020-04-21 01:25] BenjamenMeyer commented on #72
@BottledByte thanks for the info. I'll have to digest it some.

I will say that from a variety of perspectives I will be opposed to adopting .Net/Mono, not the least of which is licensing and parents. So from that perspectives I would be opposed to using GoDot as a backend. It would almost certainly be easier to start from scratch for it too given the myriad of differences between C, C++, and C# -

[2020-04-21 04:31] nabaco commented on #73
I have assigned this to Danielrh only for him to suggest some information on the implementation.

[2020-04-21 14:33] Loki1950 commented on #73
The Python scripts do a lot of accessing of the Unit class so close look at them may be productive

[2020-04-21 16:59] danielrh commented on #73
I think there are 2 reasonable approaches
a) make the types indistinguishable: this means pasting every member var thing inside GameUnit inside Unit then adding a typedef Unit GameUnit; so that the rest of vega strike can't tell the difference
b) Modifying the game engine to take GameUnit everywhere. The only time "Unit" should appear is inside the unit_generic.hpp and game_unit.hpp headers. Once

[2020-04-21 19:16] nabaco commented on #72
@BottledByte, thank you for such a detailed digest. It does make a lot of things clearer.
In light of what you have written, I am more inclined towards the BGFX option + Plugins for toolings.

I have updated the initial issue description with the new info/options.

[2020-04-21 19:47] Loki1950 commented on #72
I also am inclined to BGFX it may help us future proof the engine

[2020-04-21 20:19] nabaco opened #76 "Release Plan"
I think it'd be nice if we make a release plan. e.g. decide what are the upcoming releases, set milestones, etc.

For starters, I suggest that the next release will be 0.6.0 which will include:
- Removal of server/multiplayer code
- Removal of unneeded integrations (OGRE/FFMPEG)
- Fixed compilation on MacOS and Windows.

This way, we'll supply up to date binaries for players to use, so we will beg

[2020-04-21 20:36] nabaco commented on #53
@BenjamenMeyer I have looked at the repos, and it seems like they have the compiled DLL/EXE files. I don't that's enough, as I need the header files too for compilation.

The current process I'm using is (in PowerShell):
[code]

[2020-04-21 20:38] BenjamenMeyer commented on #73
I like approach `b` personally.

[2020-04-21 20:43] BenjamenMeyer commented on #76
@nabaco agreed. We can use Git Hub Milestones to track to a given release. Not sure if we want a project board for releases too; Milestones are probably sufficient.

Before we start doing any major refactoring work; it'd be nice to do a small release to just show we can do a release; minimal changes mostly focused around compilation:
- fixed things so we can get builds
- updated dependencies
- may

[2020-04-21 20:46] BenjamenMeyer commented on #53
@nabaco okay; thanks for taking a look. If they don't help with this, then we might just want to archive those repos as we get things taken over. I'd honestly like to see us reduce the number of repositories any way as I think most of the repositories are things that should be in the main repo. (The Asset repositories are obviously ones that need to be separated out.)

[2020-04-21 20:49] nabaco commented on #76
In that case, we might want to branch out to 0.6.x immediatly, since the refactoring is on the way already. I thought 0.5.3 was supposed to be the small release, but maybe I'm missing something.
If you want to branch out now, I guess you should do it from the commit before #57 was merged - since that is the beginning of the big refactors.

[2020-04-21 20:51] BenjamenMeyer commented on #76
is what is in there now able to be released?
I'm not opposed to having a big refactor in 0.6.0 if it's necessary to build the release; just thinking we need to limit what we do for 0.6.0.

[2020-04-21 20:55] nabaco commented on #76
That depends. I think we need to define first the acceptance criteria for the release. Are linux binaries enough? Just the source code?

I inclined towards a source code tarball, and would strive to complete #50 as a milestone for the release.

[2020-04-21 21:37] BenjamenMeyer commented on #76
Per requirements for a release - source + binaries would be good; same as previous releases.
If we do `0.6.0` as only Linux, then we should follow up with `0.6.1` and perhaps `0.6.2` with Windows and Mac too if we can.

If no one has a system to test those on, then we won't be able to release them and that may be okay - we just have to put out a call for more volunteers to help with testing that i

[2020-04-21 22:19] nabaco commented on #76
That sound good. I'll begin with the milestones. We'll more, according to feedback from the rest of the guys

[2020-04-21 22:28] nabaco opened #78 "Figure out MacOS compilation"
Continuation of #42.

[2020-04-21 22:31] nabaco commented on #76
I've created a "0.6.x Release" Milestone, and added some issues to it. The problem is, unlike projects, it's per repo, and not per organization.
I think projects might be a better way to organize this.

[2020-04-22 01:43] BenjamenMeyer commented on #76
Yeah. I'm aware milestone are per repo. I do think that's an issue either right now as we're just releasing the engine. Most of the repos aren't involved in a release, and the asset repos would be their own game as a release.

Thanks!

[2020-04-22 08:24] royfalk commented on #76
I’m fine with it.
Just so you know, I made an initial slash of the network code and fixed everything and it compiles.
However, I’m eating hay, trying to figure out a segmentation fault that cropped up.
If I don’t figure it out today, I’ll try and push it like this and maybe someone else can take a look.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source

[2020-04-22 18:06] nabaco commented on #45
Looking at the [last build](https://travis-ci.org/github/vegastrike/Vega-Strike-Engine-Source/jobs/678083590), it seems that we removed all the C++11 deprecated warnings. Closing the issue.

[2020-04-22 18:06] #45 closed

[2020-04-22 18:33] bmorel commented on #72
For the 3D graphical tooling problem, libassimp could be used. It's portable, does nothing with rendering, supports STL, OBJ and other formats. Bones stuff, too, IIRC.

My opinion is that generally, projects should rely on libraries, and not on frameworks or full built engines, if the long term existence is a goal. It's easy to replace a library, hard to replace a framework. A 3D *rendering* engin

[2020-04-22 19:03] bmorel commented on #28
Tried it, pausing made one CPU core going 100% use in USR mode. Breaking a gdb in that, I have an CPU burner loop in engine/src/gldrv/winsys.cpp. Might be an infinite loop, depending on if yes or no the switch on line 428 checks all possibilities (hint: it does not).

[2020-04-22 19:14] nabaco commented on #72
Thank you @bmorel for the precious input. I have updated the issue description to unclude all of the discussed options.

[2020-04-22 19:49] BenjamenMeyer commented on #72
@nabaco I added VulkanSceneGraph to the list since you have OpenSceneGraph in there and it's suppose to replace OSG.

[2020-04-22 20:01] BottledByte commented on #72
I have further findings and notes about this issue. I have seen your recent conversation at Gitter (but do not expect me to join directly, I am not an IRC/Gitter fan), so I will clarify some things.

@BenjamenMeyer Godot has really nothing to do with Mono/.Net/C#. It uses it as a module and it is entirely optional.

I have seen that there was a discussion about *windowing library*. BGFX  **does no

[2020-04-22 20:34] BottledByte commented on #58
As @bmorel mentioned on Gitter, [https://freegamedev.net](https://freegamedev.net) is nice place for this project revival notice and I can only agree with the idea.
Furthermore, there is an option to use [https://social.freegamedev.net/channel/planet](https://social.freegamedev.net/channel/planet) RSS channel for this project. As far as I know, it is possible to link it directly with Github Releas

[2020-04-22 21:30] BenjamenMeyer commented on #72
@BottledByte I'll stand corrected on that - my initial look earlier showed a link, but I can't find that right now. They do support C#/Mono. That said, it's still more of a competitor to what Vega Strike does since it's a framework. Likewise Vega Strike is more of a framework too, just more specialized around a certain style of game play. I'd favor using a library for the graphic integration/suppo

[2020-04-22 21:51] BenjamenMeyer commented on #58
We need to be sure to update https://en.wikipedia.org/wiki/Vega_Strike too when we do that announcement.

[2020-04-23 22:52] stephengtuggy commented on #28
I have *definitely* seen this bug myself! Using the older (0.5.2?) code

[2020-04-23 22:58] stephengtuggy commented on #76
Just from personal experience... getting Windows building again is going to be WAY too much work for 0.6.0. Let's push that out to 0.6.1 or 0.6.2/0.6.x.

Other than that, what you guys have listed here looks pretty good.

[2020-04-23 23:04] stephengtuggy commented on #53
@nabaco Wish I could remember where I found the Math and Util libraries. I found them somewhere. But that was on a different development machine. :-(

So now you are experiencing the pain I felt, as I tried to get past the CMake stuff to actually building the VS project on Windows. It was... incredibly frustrating.

I ended up refactoring the CMakeLists.txt quite extensively. I never finished gett

[2020-04-23 23:06] stephengtuggy commented on #73
I like approach `b` as well.

[2020-04-23 23:10] stephengtuggy commented on #60
I am fully on board with the decision to drop server support. Please, by all means, feel free to do so! :smile:

[2020-04-23 23:25] stephengtuggy commented on #68
Looking good, you guys!

[2020-04-23 23:27] stephengtuggy commented on #34
Hey guys. Sorry I missed the meeting. I had a health issue come up. I am doing better now, though.

@BenjamenMeyer should I have a gitter invite in my email?

[2020-04-23 23:32] stephengtuggy commented on #48
@BenjamenMeyer Sounds good to me.

[2020-04-23 23:37] stephengtuggy commented on #56
@BenjamenMeyer Restructuring the src directory structure, is what you are talking about? I'd be on board with that. Like @royfalk said, though, first things first.

[2020-04-23 23:38] stephengtuggy commented on #56
One thing I did try, here, was including only specific files in the CMakeLists.txt, rather than an entire directory at a time. Very much a WIP: https://github.com/stephengtuggy/Vega-Strike-Engine-Source/tree/refac/cmake-on-windows

[2020-04-23 23:42] stephengtuggy commented on #25
@Loki1950 I think you're right.

[2020-04-23 23:52] stephengtuggy commented on #22
I believe this bug has been fixed, and should be closed. Any objections?

[2020-04-24 00:31] BenjamenMeyer commented on #34
@stephengtuggy probably, though you are added somehow. Just hit the link in the readme.

[2020-04-24 00:34] BenjamenMeyer commented on #22
If we can verify it's fixed then yes please close it.

[2020-04-24 03:26] stephengtuggy commented on #22
Fixed. At least in this one file. Other scripts may still need to have the same change made. (Mark to run with `bash`, not just plain `sh`.)

[2020-04-24 03:26] #22 closed

[2020-04-24 03:27] stephengtuggy commented on #34
@BenjamenMeyer Done. Thanks!

[2020-04-24 04:19] stephengtuggy opened #79 "README - Bootstrapping instructions are incorrect/incomplete"
The current README makes it sound like installing the dependencies is optional if you run the `vsbuild.sh` script. Which is not the case.

Installing (`apt`) dependencies is a required step, either way. *Then*, one either runs `vsbuild.sh`, or does the equivalent manually. Am I missing something here?

Also, I am not sure that the list of `apt` dependencies given is complete, either. Here is my li

[2020-04-24 13:28] Loki1950 commented on #79
There is also cmake-gui which uses qt5

[2020-04-24 13:56] BenjamenMeyer commented on #79
I typically just use CMake without the GUI; for simpleness we probably just want to list `cmake` but then note that there are available GUI options which may require additional dependencies.

[2020-04-24 14:00] BenjamenMeyer commented on #79
Also, an easy way to test this is to use a Docker image. Then one can test various distros to capture the requirements from them. The main Linux ones I would do:

- CentOS or Fedora
- Debian or Ubuntu

Optional:
- Arch
- Gentoo
- OpenSuSE (similar to CentOS but different as their RPM chain differs from Red Hat's).

We should also document a Mac configuration (HomeBrew dependencies?). We can wait o

[2020-04-24 14:05] nabaco commented on #79
Related to #78, #53, #40.

[2020-04-25 19:39] royfalk commented on #60
I just pushed the code. I managed to compile it but unfortunately I was not able to find the root cause to a segfault in texture creation. @nabaco your assistance is requested and more than welcome. I've reviewed the code and debugged quite extensively and a fresh set of more experienced eyes is required.

[2020-04-25 20:45] nabaco commented on #60
@royfalk I'm compiling your code right now and looking through the changes. There some minor things that might need to be fixed/changed - though I don't think they're the reason for the segfault.

One thing that I have noticed now: [star_system_generic.cpp#L910](https://github.com/royfalk/Vega-Strike-Engine-Source/blob/73099fadc467d833f405a21246f4031c8de732fd/engine/src/star_system_generic.cpp#L91

[2020-04-25 23:03] nabaco commented on #60
I have caught an error in `engine/src/gfx/technique.cpp:612`, placed try..catch there to continue, and received stack smashing in `engine/src/gfx/vsimage.cpp:138`

Just for comparison of result, @royfalk can you run the following command, and post the resultant logs here?

`vegastrike > output.txt 2 > error.txt`

I hope to continue to investigate this sometime later this week.

[2020-04-26 03:43] royfalk commented on #60
You are absolutely right, though this compiles on my machine. I can't understand how the compiler doesn't scream at it. I assume yours did or did you find it yourself?

[2020-04-26 06:00] nabaco commented on #60
No, it didn't. Maybe there is some warning that might hint about this but I didn't see it. Stack smashing is memory corruption in runtime, due to writing something that is bigger then the allocated memory on the stack. The compiler puts in the code guards (canaries) to catch such things, and tells the program to exit when it finds such a situation

This usually happens when writing into arrays tha

[2020-04-27 00:03] nabaco commented on #60
Here is the full stack trace at the moment of the crash.

[code]

[2020-04-27 11:43] nabaco commented on #60
It seems that have found the issue, using Address Sanitizer, though I'm still not sure how to solve it correctly.
See the attached log with the details: [error.txt](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4539344/error.txt)

[2020-04-27 12:05] nabaco commented on #60
@royfalk this is the workaround that I have found so far:
I don't really understand the true root cause, but I managed at least to start the game with this.
Add this before [engine/src/gfx/vsimage.cpp#L549](https://github.com/royfalk/Vega-Strike-Engine-Source/blob/73099fadc467d833f405a21246f4031c8de732fd/engine/src/gfx/vsimage.cpp#L549)
[code]

[2020-04-28 21:31] nabaco commented on #23
Hi @LifWirser, is this bug still reproducible?
Other developers and I haven't seen the issue on the latest code, and some of them are running on Debian too.
Could you please supply logs from running the game. The logs can be collected with the following command:

`./vegastrike > output.log 2 > error.log`

Then post the two files here so we'll be able to further analyze them.

[2020-04-28 21:38] nabaco commented on #36
Hi @BenjamenMeyer, for further triage, we might need the following information:

1. System specs (OS, graphics card and driver, xrandr output)
2. VS configuration (./vssetup screenshot might be enough)
3. Game log (`./vegastrike > output.log 2 > error.log`)

Out of curiosity, how is your laptop hooked up? Directly or through a docking station?

[2020-04-28 21:39] nabaco commented on #6
Related to #17

[2020-04-28 21:49] nabaco commented on #13
That certainly sounds like a bug. I will try to reproduce it, and see if I can get any logs related to the issue.

[2020-04-28 21:56] nabaco commented on #24
This sounds like an issue with the Assets.
@LifWirser could you please supply a screenshot so we'll have a better understanding of the issue, and game logs with the following command?
`./vegastrike > output.log 2 > error.log`

[2020-04-28 21:58] nabaco commented on #25
Can anyone supply a screenshot so we'll understand the issue better?
@Loki1950 any chance you know where to look in the code to try and solve the issue?

[2020-04-28 22:27] BenjamenMeyer commented on #36
@nabaco yes; we should outline how to collect that information and provide it.

System Specs:
- HP ProBook 4530s (2012?)
- Kubuntu 19.10
- Xrandr:
[code]
-
[vegastrike.config.txt](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4548879/vegastrike.config.txt)
![xorg-config](https://user-images.githubusercontent.com/1074110/80543670-6c5a5c80-897d-11ea-96b4-436714fa4510.png)

I'll have

[2020-04-28 22:29] nabaco commented on #54
Hi @stephengtuggy,
I have to say that I disagree with this notion. `CMake` works perfectly fine for me on all platforms and does its job quite well. It's not perfect, but from what I see, it's the best out there.
Furthermore, unlike `mach`, it's widely known and used and has a lot more features, including a GUI.

Regarding the windows compilation, the main issues I see there are dependency finding

[2020-04-28 22:31] BenjamenMeyer commented on #24
@LifWirser what asset set are you using?

[2020-04-28 22:39] nabaco commented on #36
When I'll get to the wiki I'll write up a page on that too. Maybe I'll setup a Github template for Bug issues.

Can you try and run the game with this resolution `1280x800`? Or with a resolution that has the same aspect ratio? This is only as an experiment, since I saw some difference in the configuration file accross different resolutions.

[2020-04-28 22:41] BenjamenMeyer commented on #54
There's little nits I have about CMake; but the biggest issue is that there really isn't another cross-platform build chain that is as capable and not tied to some specific project and the nuances of those projects. CMake has actually been growing in use among the FOSS community in the last few years with even Qt making it their official build system a couple years back; I believe KDE did the same

[2020-04-28 22:42] nabaco commented on #37
Hi @BenjamenMeyer. From the issue description, it's not clear what is the exact issue you are experiencing. Is it with landing/jumping, or with the UI?
Is this issue still relevant? If yes, is it reproducible on a single screen?

[2020-04-28 22:48] BenjamenMeyer commented on #37
yes it's reproducible, yes it's still relevant.

@Loki1950 did explain some stuff to me to I have been able to do some landing; however, landing it still a lot harder than it necessarily should be. I've tried to land a few places (mine base, military bases, etc) and just end up crashing every time.

I suspect it's a combination of:
1. Lack of knowledge of how to land or when landing is allowed/dis

[2020-04-29 01:30] Loki1950 commented on #25
It will be in the python scripts as they handle game play

[2020-04-29 01:38] Loki1950 commented on #37
For landing you have hit the D key just as you enter the green docking square

[2020-04-29 06:01] nabaco commented on #79
@stephengtuggy Any chance you can make a PR with those changes?

[2020-04-29 06:51] royfalk commented on #60
Unfortunately, neither (or both) of these, do not work for me. I'm still getting a seg fault. I've also reverted some modifications I've made to vsimage files and just copied the macros from /networking/const.h and it still crashes.
Since the previous version did not crash even though it was fed invalid/headerless BMP files (white.bmp), I think we need to figure out why it's crashing now. I suspec

[2020-04-29 06:55] nabaco commented on #60
@royfalk Sounds good to me. Either way, push your fresh code to your Github, and I'll have a look at it locally.

[2020-04-29 13:05] BenjamenMeyer commented on #37
@Loki1950 yeah...finding that green docking square is the part of the issue. I'll have to record something to show.

[2020-04-29 15:15] Loki1950 commented on #37
Also remember you have request docking first no request no square

[2020-04-29 19:20] royfalk commented on #60
Lovely. Turns out I was running the wrong/stale executable all this time. Game now compiles and runs but ship is unresponsive - won't accelerate or turn.

[2020-04-30 15:53] stephengtuggy commented on #79
@nabaco Working on it.

[2020-04-30 16:48] stephengtuggy commented on #60
@royfalk How frustrating.

[2020-04-30 16:49] stephengtuggy commented on #37
Alt+0 to request docking, right?

[2020-04-30 16:51] stephengtuggy commented on #54
Fair enough, guys. OK, I'm closing the issue.

[2020-04-30 16:51] #54 closed

[2020-04-30 18:13] BenjamenMeyer commented on #37
correct, ALT+0; @Loki1950 I have but I don't always get a clear Green Square for docking.

In one case, I get a green square, but one corner is red.
In another case, there seems to be about 30 different small green squares.
In both cases, the squares don't seem to be for docking.

Any how...I'll try to get a video this weekend.

[2020-04-30 18:20] nabaco commented on #37
In case the red square is red, it means that it's not in your line of sight. You'll have to do a maneuver to get to it.
If it's green, it has to be for docking. It's tricky sometimes to get to it at the right speed and press D at the right moment.

[2020-04-30 19:18] ermo opened #82 "Python2 is deprecated -- ensure that VS can (optionally) be built against Python3 out of the box"
Just tried building VS against python3 using both the included boost-1.72 and the system boost (1.66 in my case on Solus).

For the included boost-1.72 I get the following error:
[code]

For the system boost-1.66 I get the following errors:
[code]

... help?

[2020-04-30 19:19] ermo commented on #82
Don't know if this is in any way useful:

https://github.com/Taose/Vegastrike-taose/commit/84a72eb9fa9b77dcfde1c04159f69caa7f0f32b5

[2020-04-30 19:38] pheonixstorm commented on #82
I had VS building with python 3  for windows. I didn't deal with the linux side so never tested.

[2020-04-30 20:26] nabaco commented on #82
@ermo I had no issues with that on Arch.
I'll have to recheck the compilation log later because I do remember cmake complaining about something. Though not failing.

[2020-04-30 20:27] nabaco commented on #53
@pheonixstorm any chance you can help with this?

[2020-04-30 20:30] nabaco commented on #53
Anyone willing to help, as @www2000 has suggested, you can use Windows VMs on linux:
https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2020-04-30 20:35] ermo commented on #82
I succeded in building against boost-1.66 w/py3 per the notes in https://wiki.vega-strike.org/HowTo:Compile_from_SVN_on_Linux#Using_Python_3

On Solus, it was a question of building VS with py3 against `Boost_PYTHON_LIBRARY_RELEASE=/usr/lib/libboost_python3.so`instead of `Boost_PYTHON_LIBRARY_RELEASE=/usr/lib/libboost_python.so` (note the missing '3').

In terms of CMakeLists.txt, if `USE_PYTHON_3

[2020-04-30 21:42] royfalk commented on #60
I found it. The game works. I hope to commit tomorrow.

[2020-05-01 04:37] BottledByte opened #83 "Git repository history might contain bloat"
Currently, size of this repo is around 150 MB and size of Assets-Production repo is around 1.4 GB. However, when git `clone`-ing those repos, full history included (~1.5 GB without it), *approx. 3.4 GB is downloaded*. ~800 MB of this is VS's engine history and another ~1.1 GB is from the asset repo's history.

Vega Strike has many years of development behind it, so it can be said that the size of

[2020-05-01 14:25] ermo commented on #61
This can be closed, can't it?

[2020-05-01 14:53] ermo commented on #40
What is the use case for supporting Ubuntu 14.04 LTS?

According to https://ubuntu.com/about/release-cycle 14.04 LTS is in Extended Security Maintenance mode.

FWIW, 14.04 LTS is no longer listed on https://packages.ubuntu.com.

Rarely has "It's dead Jim" rung so true IMHO, _**particularly**_ if it's blocking the removal of the external boost library as discussed in #38.

[2020-05-01 14:56] BenjamenMeyer commented on #83
Yes, asset repo is large and will grow that can't be helped too much.
Third party libs like boost need a better vendoring solution than being simply included in the repository.

[2020-05-01 14:57] BenjamenMeyer commented on #61
I think so - we've found it, documented it, and been told it's already been integrated into the source we're working with.

Closing unless there's something I'm missing - in which case, please re-open.

[2020-05-01 14:57] #61 closed

[2020-05-01 15:01] BenjamenMeyer commented on #40
The primary case, IMHO, is just that it was in the existing support set; and was working.
The question is when do we want to drop it?
1. Do we want to include it in the 0.6.x release and drop in the 0.7.x release?
2. Do we just want to go ahead and drop it?

We probably need to come up with a proper Platform Support & Drop policy to help with this in the future.

[2020-05-01 15:54] ermo commented on #82
Don't know how useful it is, but the link below has a boost c++ example for working with python unicode strings?

https://wiki.python.org/moin/boost.python/EmbeddingPython

[2020-05-01 19:21] ermo opened #85 "Py3: VS.loadGame(VS.getNewGameSaveName=New_Game) fails -- chokes on wonky New_Game file"
Backtrace from `gdb --args bin/vegastrike --debug=3 -v`:

[code]

[2020-05-01 19:46] ermo commented on #85
Just a quick note that the bug does indeed manifest itself in a function exposed via the VS python API:

[code]

[2020-05-01 20:21] ermo commented on #85
Good news:

Turns out this happens due to an old bug that I already contributed a fix for in taose's Vega Strike version.

Once the fix is applied, the New_Game file load just fine, which means I can start a New Game in priv:wcu.

I'll get the patch rewritten for the new VS debug print method and reference the present issue in the associated PR.

[2020-05-02 21:54] stephengtuggy commented on #40
I would think we could just go ahead and drop 14.04 LTS right away. Unless we need it to compare the functionality of the old vs. the new code, on the same platform (apples to apples).

Thoughts?

[2020-05-02 22:02] stephengtuggy commented on #82
Also of note: There is a package on Ubuntu (18.04?) called `2to3`, which can assist in converting Python 2 code to Python 3 code. (There are other differences besides the string types.)

[2020-05-02 22:45] nabaco commented on #40
I agree on that. We can say that 0.5.3 is supported on 14.04 LTS, and all future releases don't.

[2020-05-02 22:46] nabaco commented on #40
BTW, we are talking here compilation only. A .deb package should run on it IMO.

[2020-05-02 23:03] ermo commented on #82
To be clear, this issue is only about the CMake and C++ part of *building* VS, not the python data modules.

[2020-05-03 07:17] ermo commented on #85
This is the output when running Priv:WCU with `vegastrike --debug=3` and selecting a New Game in the main menu:

[code]

[2020-05-03 08:44] #85 closed

[2020-05-04 16:34] BenjamenMeyer commented on #82
`2to3` is a Python package available in Python's pip; many distros do include it but you can always get the lasts from `pip`; just don't do `pip install --upgrade` on your system python as that'll break a tone of things. `2to3` updates the imports, strings, and gives warnings about stuff that'll break compatibility.

`six` also provides a compatibility layer to help with things moving around; it's

[2020-05-04 20:16] #79 closed

[2020-05-04 22:36] nabaco commented on #40
# Vote
### Drop Ubuntu 14.04 LTS compilation support
Using the smiley button on the top right:
- 👍 - for
- 👎 - against

[2020-05-04 22:59] Loki1950 commented on #40
Dropping Ubuntu 14.04 just seem a bo brainer

[2020-05-05 08:29] nabaco commented on #40
@danielrh @stephengtuggy @ermo @pyramid3d @pheonixstorm @royfalk @bottledbyte @bmorel

Feel free to make a vote if you wish :)

[2020-05-05 08:33] nabaco commented on #41
I agree with @pyramid3d's statement.
Additionally, following @danielrh's decision and @Loki1950's announcement:
- Loki is the Project Lead
- @BenjamenMeyer is the Lead Developer

With that, I think we can close this issue

[2020-05-05 12:08] BenjamenMeyer commented on #41
@nabaco before we close this we need to update permissions in the org to reflect the decision.

[2020-05-06 18:45] nabaco commented on #41
I think @Loki1950 can help with that

[2020-05-06 19:43] Loki1950 commented on #41
Help with the github web interface would be appreciated it can be a bit tedious

[2020-05-06 20:44] nabaco commented on #41
@BenjamenMeyer We have figured it out with @Loki1950. You should have full access now.

[2020-05-06 21:06] Loki1950 commented on #41
I guess we can close this issue now

[2020-05-07 03:41] Calendis opened #91 "Strange velocity 'bouncing' behaviour with SPEC"
Platform: Linux
Using the latest master (vssetup identifies as 0.6.0)

Sometimes (about 50% of the time? It's hard to say), when using Auto-pilot to approach or leave a major object, the ship's velocity will not behave properly. It will rapidly 'bounce' between seemingly random velocities from the hundreds range to the tens of thousands. During this, the positions of major objects also seem to bou

[2020-05-07 06:59] nabaco commented on #91
Hi Calendis,
Thank you for the report. We have seen this issue too. Could you please attach logs to the issue, after issuing the following command?
`vegastrike > output.log 2>error.log`

A few questions
1. Does this happen while targeting any object? I have seen it happen when flying to a jump point sarrounded by asteroids, and thought it might be related due to the complicated maneuver the autopi

[2020-05-07 07:03] nabaco commented on #40
As we have an unanimous agreement on this (7 - for, 0 - against), I'm merging the PR. Thank you all for voting.

[2020-05-07 11:01] nabaco commented on #55
We should investigate that indeed.
We could also try out VCPKG, as it's more C++-dev oriented.

[2020-05-07 13:22] Loki1950 commented on #91
Deja voodoo very old behaviour any gravity well affects SPEC and the behaviour can seem random since I have been unable to build an executable on Mint 19.3 I can not give a informed option but it has been a comment about SPEC that is long standing

[2020-05-07 14:08] nabaco opened #92 "Close down SourceForge site and redirect to the new one"
To make things simple for people looking for us, I think we should close/archive the SF project, and redirect everything from it to our new Website.
@danielrh @klaussfreire any chance you guys can help me with this?

[2020-05-07 14:23] BenjamenMeyer commented on #41
permissions confirmed. Closing

[2020-05-07 14:23] #41 closed

[2020-05-07 14:26] BenjamenMeyer commented on #40
I think we can drop VS 6 too; we're having enough issues getting current Windows build and nothing should be support VS6 any more any how.

[2020-05-07 14:31] BenjamenMeyer commented on #92
We need to setup redirects from SF to GitHub, the old SF forums to the new Forums, etc.

[2020-05-07 14:31] nabaco commented on #40
I think we can close this issue then :)

[2020-05-07 14:33] nabaco commented on #40
Regarding supporting platforms that are not native to Travis-CI, I think we should open a separate issue, as it'll involve Dockers

[2020-05-07 15:29] BenjamenMeyer commented on #40
Before we close this, let's get something in the Git Hub wiki to reflect this.

[2020-05-07 15:35] royfalk commented on #40
Just so we’re clear, VS6 is ancient.
It was released in 1998!
So all those ifdefs, they can go.

From: Benjamen Meyer <notifications@github.com>
Reply-To: vegastrike/Vega-Strike-Engine-Source <reply@reply.github.com>
Date: Thursday, 7 May 2020 at 18:30
To: vegastrike/Vega-Strike-Engine-Source <Vega-Strike-Engine-Source@noreply.github.com>
Cc: Roy Falk <roy@falk.co.il>, Mention <mention@noreply.git

[2020-05-07 15:50] BenjamenMeyer commented on #40
@royfalk yes, we start cleaning up any ifdefs specific to VS6 (but don't apply to other VS compilers) as part of the 0.7.x work.

[2020-05-07 15:55] BenjamenMeyer opened #93 "Cleanup ifdefs specific to VS6"
Per #40 we are no longer supporting the Visual Studios 6 compiler. Therefore any code specific to VS6 can be cleaned up as part of the 0.7.x effort.

[2020-05-07 15:55] BenjamenMeyer commented on #40
@royfalk filed #93 to track that separately from this

[2020-05-07 16:08] #82 closed

[2020-05-07 18:34] Loki1950 opened #94 "Building on Mint 19.3"
Having great difficulty building do not get an executable get
vegastrike: ELF 64-bit LSB shared object, x86-64, version 1 (GNU/Linux), dynamically linked, interpreter /lib64/l, for GNU/Linux 3.2.0, BuildID[sha1]=7037dafcdf95535245ab216b3e22191299d30af8, not stripped

[2020-05-07 19:00] Loki1950 commented on #94
gcc version 4:7.4.01ubuntu2.3
cmake version 3.10.2-1ubuntu2.18.04.1
uname -a  5.3.0-46-generic #38~18.04.1-Ubuntu SMP Tue Mar 31 04:17:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
boost version 1.65.1

[2020-05-07 20:55] BenjamenMeyer opened #95 "Proposal: Use boost::logs to capture log data"
Instead of always dumping data to the console, let's capture it to a file properly. Boost provides `boost::logs` which can fulfill this in a platform independent way.

UPDATE: As a general rule everything should go to our log file. The exceptions:
- getting the log going
- fatal errors where we crash out, in which case if we can it should go to the log but should also go to the console/std::error.

[2020-05-07 21:06] Loki1950 commented on #94
Here it my error log
[error.log](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4595779/error.log)

[2020-05-07 21:10] nabaco commented on #95
That's sound like some of the changes that @stephengtuggy has done in the past

[2020-05-07 21:12] BenjamenMeyer commented on #95
@nabaco yes, there's probably something related to that. The current gitter discussion with trying to capture data to a log file got me thinking of this, so just wanted to capture it for the moment. If we already have something that can be re-enabled that'd be great and then we can pull this into one of the current milestones as a bug fix.

[2020-05-07 22:26] stephengtuggy commented on #91
I have seen this same bug. Was planning to report it; just hadn't gotten my thoughts together yet. Thanks, @Calendis .

[2020-05-07 22:35] #38 closed

[2020-05-07 22:38] stephengtuggy commented on #95
Yeah, basically I think my `BOOST_LOG_TRIVIAL` stuff just needs to be re-enabled. That is how Vega Strike does its debug output now (as opposed to `stdout` or `stderr` output, which are separate in the current version of VS).

Perhaps a Phase 2 of this issue would be redirecting **everything** to `BOOST_LOG_TRIVIAL`. No more `stdout`/`cout`/`stderr`/`cerr`.

[2020-05-07 22:41] nabaco commented on #95
Sounds good. @stephengtuggy are you willing to undertake this endeavor?

[2020-05-07 22:42] BenjamenMeyer opened #96 "Path to submit bugs without having a GitHub account"
We track all our bugs in GitHub Issues - and rightly so as that's where development is.
However, we need to have some documented methods that folks can communicate bugs with us where someone with GitHub access enters it on their behalf should they not have (and not want to have) a GitHub account of their own.

Some potentials:
- [x] in the forums (for folks that have a forum account)
- [x] mailing

[2020-05-07 22:51] BenjamenMeyer commented on #40
With respect to support cycles:
- Ubuntu (https://wiki.ubuntu.com/Releases) - Standard Support
- Microsoft Windows (https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet) - what's currently under normal support for the average user
- Red Hat/CentOS/Fedora (https://access.redhat.com/support/policy/updates/errata, https://wiki.centos.org/About/Product, https://fedoraproject.org

[2020-05-07 22:55] BenjamenMeyer commented on #40
For mac: Proposing Current + last 4 releases.
Honestly, we're tied closely to what homebrew supports as we use that for dependencies on Mac OSX. So we'll have to tie that in somehow too

[2020-05-07 22:57] BenjamenMeyer commented on #95
@stephengtuggy yes, I'd like to see everything go to file the boost logs and have only minimal output on stdout/cout/stderr/cerr - namely output before the logs can get configured and after they're shutdown, perhaps with info on where the logs are being stored too so people can easily find them.

[2020-05-07 22:59] stephengtuggy commented on #95
@nabaco I'll think about it.

[2020-05-07 23:01] stephengtuggy commented on #40
For Mac, I would propose current + last 2 releases.

[2020-05-07 23:07] stephengtuggy commented on #95
Related to #5

[2020-05-07 23:20] nabaco commented on #40
Recorded the policy
https://github.com/vegastrike/Vega-Strike-Engine-Source/wiki/Platform-Support

[2020-05-08 01:04] Loki1950 commented on #91
Well i am seeing the expected behaviour used auto from starting planet orbit Atlantis set ship to proper orientation on Serenity base toggled auto SPECed straight to the base dropping out of auto 2500 m from base hit "Home" to match velocity asked for docking clearance docked with no issues saved game now to hack the save file for mega cash and continue testing

[2020-05-08 01:08] Loki1950 commented on #91
For all testing auto you need to line up your target destination before you toggle auto not doing so is what leads to the erratic behaviour

[2020-05-08 01:10] Loki1950 commented on #94
Still getting a sharedlib but it does work from the cmd line in a terminal will try @ermo 's elfedit hack tomorrow

[2020-05-08 02:59] Calendis commented on #91
I might have done something wrong, but it didn't like that! Crashed with `Panic exit - mission file output.log not found`. error.log was written, but I don't think it contains anything useful since the game crashed instantly.

I was able to get it to happen just from flying to a planet

Yes, it happens during manual SPEC. For me, it only happened once i switched targets off of the object I was lin

[2020-05-08 03:03] BenjamenMeyer commented on #95
@stephengtuggy #5 will have some impact certainly - though we'll have to ensure that log messages are readable enough by both users and us to be useful for actually debugging stuff too.

[2020-05-08 03:51] BenjamenMeyer commented on #40
@nabaco thanks; I updated it with a more extensive policy. Please review for grammar/spelling/tack/etc.

[2020-05-08 04:06] BenjamenMeyer commented on #94
@Loki1950 interesting - I get a binary, and KDE prompts about what to do with it when I double-click - asking to either Execute or Cancel.

I think the normal means is to provide FreeDesktop Entry File (see https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html) which would get installed to /usr/share/applications (at least on Linux).

[2020-05-08 04:08] BenjamenMeyer opened #97 "Linux Desktop Integration"
We should provide Desktop Integration via the Free Desktop Entry Specification. This is basically a text file of the name `VegaStrike.desktop` (or similar) that we could ultimately drop in `/usr/share/applications` which would then allow Vega Strike appear on the launcher menus of the various desktop environments (KDE, GNOME, etc).

For reference see https://specifications.freedesktop.org/desktop-

[2020-05-08 04:33] BenjamenMeyer opened #98 "Git Submodules?"
There's an existing submodule (data) that maps the Asset Productions repository to the `data` directory.

Question: Do we want to continue using submodules? Or do we want to encourage folks to use separate clones that they manage?

Reason: Subversion did a great job with external stuff and mapping things from one section of the SVN repo to another with `svn:externals`; however, Git Submodules does

[2020-05-08 04:37] BenjamenMeyer commented on #98
Personally I lean towards dropping git sub-modules:

1. They're hard to work with.
2. We can use it as a means to help with development and testing of multiple assets so more games get developed on top of the Vega Strike base.
3. If we provide support for #97 (and similar on Mac and Windows) then we the asset location is simply the directory working directory where the vegastrike binary is launche

[2020-05-08 10:06] ermo commented on #94
To be clear, my "elfedit hack" just implies `elfedit --output-type=exec ./vegastrike`.

My hypothesis is that, for some reason, @Loki1950 's Linux Mint 19.3 build apparatus isn't setting the ELF type correctly during the linking phase.

@Loki1950 does it make any difference if you build with `-DSYSTEM_BOOST` rather than the default vendored (and apparently soon-to-be-dropped) Boost?

[2020-05-08 10:31] ermo commented on #40
The following captures some points discussed on gitter last night with some additions by yours truly (chiefly chocolatey support on Windows):

- Linux: Only support building on actively supported desktop Linux distributions
  - For the time being, focus on [Debian](https://wiki.debian.org/DebianReleases)/[Ubuntu](https://ubuntu.com/about/release-cycle)
  - Packagers on other distributions are welc

[2020-05-08 10:42] nabaco commented on #98
The work with `git submodules` is quite simple
`git clone --recurse-submodules`
`git pull --recurse-submodules`

and that's all there is to it...

For development, and especially CI, it's nicer to have a submodule I think. For release, maybe not...

[2020-05-08 10:44] nabaco commented on #97
Agreed. But I think we should start dealing with that once we figure out the packaging side of things.

[2020-05-08 10:46] nabaco commented on #96
+1 for a mailing list. It could also help accepting patches from people who prefer not to use Github.

But I think the main method should be the forum. Once we move to Discourse, it has integration into Github that will make such things easier.

[2020-05-08 10:48] ermo opened #99 "Proposal: Streamline naming of binaries"
On Windows, VS is habitually associated with Visual Studio and any binary that contains `setup` is considered an installation package of some sort.

And since Windows now supports arbitrary length names and isn't confined to the ye olde 8.3 format, I therefore propose renaming the Vega Strike binaries as follows:

**Option A**

- `vegastrike` -> `vegastrike` (no change)
- `vegaserver` -> `vegastri

[2020-05-08 10:51] nabaco commented on #40
@ermo I agree with everything you wrote, including using chocolatey for windows.
Thank's for that good summary :+1:

[2020-05-08 10:55] nabaco commented on #40
@BenjamenMeyer I have went over your changes, look very good, great job! I don't think I have something to add to such a detailed policy 😄
I'll try to go over compiler versions and add them to the page, once I have a moment for that.

[2020-05-08 12:07] BenjamenMeyer commented on #40
@nabaco I took compiler versions for GCC from the supported Ubuntu platforms (packages.ubuntu.com). Don't know how Fedora, Mac will change them.

[2020-05-08 12:11] BenjamenMeyer commented on #98
That works if you're aware they are there during the initial download. Get the second works after, though it's generally advised to do fetch/merge separately instead of a straight pull (which does both).

Release will depend on the packaging methods; but likely we'll want to separate them.

[2020-05-08 12:22] Loki1950 commented on #91
@nabaco forgot to put ./ in front of the the cmd line he gave you ;)

[2020-05-08 12:29] Loki1950 commented on #94
@ermo haven't tried yet I tend to use what works and it works for me now @BenjamenMeyer I don't install VS most of the time I run it in userland much easier to update asset errors

[2020-05-08 12:44] BenjamenMeyer commented on #94
@Loki1950 I haven't installed it yet myself, just run using symlinks in the asset directories (e.g git submodules).

[2020-05-08 13:01] Loki1950 commented on #94
With svn I used to have a directory under my Project one that I called Playground or Sandbox which was an export of the data (striped the .svn folders out)

[2020-05-08 13:44] BenjamenMeyer commented on #99
agreed; we should change them. It might be good to make them parameters so that downstream projects compiling the engine can set:
- executable names
- configuration file

While this isn't as relevant on Linux (namely due to symlinks), on Windows/Mac (given how packaging on those platformsworks) is probably more important to do so that the executable can match the downstream game and not cause user

[2020-05-08 13:47] BenjamenMeyer commented on #40
Remaining issues to close this:
- [ ] Supported Clang Compiler Versions (CLang in general)
- [ ] Supported XCode/Clang Compiler Versions (Mac OS X)

[2020-05-08 15:35] ermo commented on #94
Could you *please* try compiling newest master with `-DSYSTEM_BOOST=ON` so that we can rule out the Boost version used as the culprit?

[2020-05-08 15:51] Loki1950 commented on #94
Will do later this afternoon

[2020-05-08 19:24] ermo commented on #50
Speaking from experience, adding this by default for Release builds (which is what the distributions and platforms will build) is _no bueno_.

I would personally prefer if this was only enabled for the Debug target but left off for the other targets.

Then require have CI (and thus VS Devs, since CI builds will now gate changes) to build with `-DCMAKE_BUILD_TYPE=Debug` by default?

[2020-05-08 19:30] Loki1950 commented on #94
Still get a sharedlib
[code]

[2020-05-08 19:41] ermo commented on #94
(**emphasis mine**)

That interpreter path looks wrong. On my system, it is `/usr/lib64/ld-linux-x86-64.so.2`

Would you be willing to try to reinstall your `glibc` and `binutils` packages, reboot and rebuild newest VS master and paste the `file vegastrike` output again?

[2020-05-08 19:48] BenjamenMeyer commented on #50
@ermo agree - the `-Werror` is more for us; and good points as far as getting integration into the distros

I do want to _eventually_ get to where there are no errors/warnings, but I don't think we have to necessarily make all warnings errors.

Setting it for *our* CI pipeline once we get there is a probably a good compromise.

Question: do we want this for the 0.6.x release? Or make it as part of

[2020-05-08 21:12] Loki1950 commented on #94
Sorry I will not that would in effect break my system I have no /lib64 under /usr what is under /usr/lib are folders for installed packages and symbolic links to lib's .so reminder each distro interprets the standard in it's own way till you can prove to me that your interpretation is valid period I gave up the bloody noses when I drop fedora I have a stable system BTW my laptop also shows the sam

[2020-05-08 21:29] ermo commented on #94
You misunderstand -- I'm suggesting that `/lib64/l` looks weird and that I would expect it to be at the very least `/lib64/ld-linux*.so*`. My comments weren't about distro policy at all; I don't care where the files live and what the distro-policy is for a given distro. =)

Running a file system check and then asking your package manager to re-install packages shouldn't break your system unless th

[2020-05-08 21:36] Loki1950 commented on #94
Can you give me the proper apt cmd line and the fsck

[2020-05-08 21:36] BenjamenMeyer opened #100 "PR Check Script Expansion..."
PR Check Script: https://github.com/vegastrike/Vega-Strike-Engine-Source/wiki/Pull-Request-Validation

Task:
- [ ] Update the existing check script with a generic series of steps that can be applied to any game that uses Vega Strike as its game engine
- [ ] Build out a specific check script for our native Under the Coldest Sea (UtCS - https://github.com/vegastrike/Assets-Production) game.
- [ ] Bu

[2020-05-08 21:40] BenjamenMeyer commented on #68
Let's make a PR template with some basics so folks can check off what has been done to validate PRs, at least until we have unit testing available.

[2020-05-08 21:41] BenjamenMeyer commented on #14
@pyramid3d can you link the answer here?

[2020-05-08 21:57] DMJC opened #101 "Add PCS2 Support for Vegastrike Ship Import/Export."
PCS2 is a graphical tool for editing ships for Freespace2's engine. It can import/export .dae XML geometry meshes from blender/maya/3d studio max, visually edit hardpoints/turrets/docking points/thrusters/shields etc and output to Freespace 2 .pof game format. It can also import game objects and export them back to .dae format. Consider adding support for Vegastrike game formats to PCS2 as it make

[2020-05-08 22:05] ermo commented on #94
I thought I already did?:

See also https://mintguide.org/system/283-how-to-check-and-fix-the-disk-for-errors-and-bad-sectors-in-linux-mint.html

It looks like the Ubuntu glibc package is split up into [libc6](https://packages.ubuntu.com/bionic/amd64/libc6/filelist) and [libc-bin](https://packages.ubuntu.com/bionic/amd64/libc-bin/filelist)

Binutils is [binutils](https://packages.ubuntu.com/bionic

[2020-05-08 22:10] Loki1950 commented on #94
Thx will do the Smart test over night the in the process of cooking my supper

[2020-05-09 02:23] BenjamenMeyer commented on #94
@ermo the APT line in https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/94#issuecomment-626040911 looks right; generates the following:

[code]

[2020-05-09 02:29] BenjamenMeyer commented on #101
@DMJC thanks for the info. I know we have a bunch of our own tooling; however, we'd also like to make it easy for folks to contribute. We've discussed some changes in the last few weeks but are no where near ready to tackle that kind of thing. We'll certainly keep PCS2 in mind as the discussion progresses.

[2020-05-09 05:22] Calendis commented on #91
@Loki1950 Ah thanks.
@nabaco I've attached the logs
[error.log](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4602742/error.log)
[output.log](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4602743/output.log)

[2020-05-09 11:13] ermo commented on #50
My take is "both": Make it a long term goal with a milestone deadline (e.g. 0.9) and then make it a target to get "substantial" work on it done for each preceding milestone (i.e. don't release a milestone unless it contains a subset of this work).

This should get the ball rolling while maintaining forward momentum I should think.

[2020-05-09 12:24] Loki1950 commented on #91
@nabaco is away for the weekend @Calendis can you describe what you did during this session because I see no activation of SPEC in either log

[2020-05-09 12:35] Loki1950 commented on #94
`udo apt-get install --reinstall --dry-run binutils libc6 libc-bin
[sudo] password for denis:
Sorry, try again.
[sudo] password for denis:
Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 4 reinstalled, 0 to remove and 7 not upgraded.
Inst libc-bin [2.27-3ubuntu1] (2.27-3ubuntu1 Ubuntu:18.04/bionic [amd64])
Inst libc6 [2.27-3ub

[2020-05-09 14:47] ermo commented on #94
Complete build instructions with relevant output for comparison:

[code]

[2020-05-09 16:10] Loki1950 commented on #94
Still getting a sharedlib

[2020-05-09 21:41] nabaco commented on #99
@BenjamenMeyer I totally agree about making this a parameter, though I think this needs some investigation about the consequences of such a change (binary size and such).

Out of curiosity, why are we considering this a bug?

[2020-05-09 21:44] nabaco commented on #101
We should also checkout [ASSIMP](https://assimp.org/) for external tooling support, as discussed in #72

[2020-05-09 23:51] BenjamenMeyer commented on #99
@nabaco because of how the name effects Windows users

[2020-05-10 02:16] Loki1950 commented on #94
Still feel that we are missing something will do some google fu tomorrow see if has turn up somewhere else as my kernel modules build properly many the nVidia kernel interface though is is a dynamic build when I update the kernel besides the Mint/Ubuntu maintainers do it so there must be some documentation.

[2020-05-10 02:41] Loki1950 commented on #94
Possible answer [https://stackoverflow.com/questions/46551213/gcc-7-2-compiles-shared-library-instead-of-executable]

[2020-05-10 06:54] nabaco opened #103 "Migrate from GTK2 to GTK3"
We use GTK+2 in our code, and I propose that we migrate to GTK+3.
This will allow us to use both more modern libraries, with better support, and will ease compilation on Windows, where getting GTK+2 is somewhat an issue.

Related to #53

For information see here:
https://developer.gnome.org/gtk3/stable/gtk-migrating-2-to-3.html

[2020-05-10 07:11] nabaco opened #104 "Figure out Travis-CI deploy for releases"
To streamline our release process, I propose that we automate the creation of some packages, and their upload to GH releases.

https://docs.travis-ci.com/user/deployment/
https://docs.travis-ci.com/user/deployment/releases/

[2020-05-10 08:39] nabaco commented on #91
While testing #86, I didn't get this issue, until I killed a ship. Now in all other cases I got this issue, I killed a ship before hand. It seems that when I'm getting locked on someone's radar, the SPEC drive is going nuts...

[2020-05-10 09:02] nabaco opened #105 "Fuel Gauge is relative to last dock, not full tank indicator"
It seems that no matter how much I use overdrive, I don't see any fuel being used.

[2020-05-10 09:10] ermo commented on #94
Quote from https://askubuntu.com/questions/690631/executables-vs-shared-objects:

It would not surprise me if the problem relates to `file` or, more likely, the library `file` uses to query the type of the file.  The library hypothesis would also explain why your file manager sees the same classification.

Could you please paste the output of `ldd file` and `ldd dolphin` here?

The hypothesis that

[2020-05-10 09:21] nabaco opened #106 "No time compression?"
The README instructions say that F9-F10 affect time compression, but in fact it affect music volume. Is the feature even available?

[2020-05-10 11:34] Loki1950 commented on #94
Again could you be more specific lld file and ldd dolphin on what`denis@denis-750-229:~$ ldd file
ldd: ./file: No such file or directory`

[2020-05-10 11:38] Loki1950 commented on #94
As noted on the stackoverflow answer Arch now uses pie as the default Ubuntu seems to following that lead and would declare no bug intended behaviour.

[2020-05-10 11:57] Loki1950 commented on #94
And yes I do see pie in the CMakeOutput.log  several times actually but the first is
`Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.5.0-3ubuntu1~18.04' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs --enable-languages=c,ada,c++,go,brig,d,fortran,objc,obj-c++ --prefix=/usr --with-gcc-major-version-only --program-suffix=-7 --program-prefix=x86_64-linux-gnu- --enable-shared

[2020-05-10 12:42] Loki1950 commented on #94
This reminds of my first compiles on the IBM 360 relocatable objects where the default at that time early 70's as well.

[2020-05-10 12:56] Loki1950 commented on #94
Just tried to double-click vegastrike using Dolphin and it starts up no problem though the icon for it is question mark.

[2020-05-10 13:53] pyramid3d commented on #97
https://github.com/vegastrike/Assets-Production/blob/f3309d0d63218341c0bce5bf966522b66a8866d6/vegastrike.desktop

[2020-05-10 14:14] royfalk commented on #106
I suspect not. AFAIK, it's a leftover from the days before 2006 when I first played it. It was replaced by SPEC.

[2020-05-10 14:18] royfalk commented on #105
First of, I'm not sure how much fuel ordinary drive consumes. It possible this is 0.
You can test by setting out in a direction and going to bed.
Second, it depends on the ship. The startup ship, llama has a pretty large fuel tank. If you switch to Gawain or one of the other small/light interceptors, you'll start to see fuel usage.
Again, I suspect that when we refactor, this issue will either go

[2020-05-10 14:24] royfalk commented on #95
I was actually looking into BOOST_LOG_TRIVIAL as well and did some work on it before discovering everyone else is also thinking/working on it. @stephengtuggy since you started already, it's yours if you want it. Just be sure to assign the issue to yourself so we'll know.

[2020-05-10 14:32] royfalk commented on #91
This is an issue that I remember from 15 years ago. The way I see it, there are a couple of things here at play:

1. SPEC is sensitive to mass. I've had capital ships force me out of SPEC when they intercepted me. I see this as a feature, though I don't fully understand the mechanism.
2. Planetary objects, of course, have the same effect. The startup system is actually weirder than most because it

[2020-05-10 14:33] royfalk commented on #73
How is this progressing?

[2020-05-10 15:38] Loki1950 commented on #91
Some bases also have SPEC inhibitors and some of the Confed enforcer ships as well the auto pilot code was written by @klaussfreire .Re: crashing while SPEC in on you can fly through a sun/star ATM as for the fluctuating velocity it was always so part of the beast.It's the wild vector changes that should not happen though that can happen if you just toggle the auto without lining up on your destin

[2020-05-10 16:21] ermo commented on #94
[code]

Don't do it for dolphin -- the list of dynamic libs pulled in by dolphin is endless.

If you could figure out which package each of the files above belong to, that would be useful.  I don't know how you would do that on Mint, but I'm sure Google does.

[2020-05-10 17:24] ermo commented on #94
Another data-point in favour of the "Mint's version of `file` has trouble understanding PIE shared object executables".

[2020-05-10 18:29] crts-crome commented on #14
Here is the link to [the answer](https://forums.vega-strike.org/viewtopic.php?f=53&t=26104&p=169930#p169930).

However, the explanation is not entirely correct, specifically this part:

My changes were, in fact, merged back into the master branch and they are still there. I am just not listed as the contributor of those changes. Apparently, during the great merge the repository got squashed, i.e.,

[2020-05-10 19:24] Loki1950 commented on #94
`denis@denis-750-229:~$ ldd $(which file)
	linux-vdso.so.1 (0x00007ffe6bd75000)
	libmagic.so.1 => /usr/lib/x86_64-linux-gnu/libmagic.so.1 (0x00007fcabf7fd000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fcabf40c000)
	libz.so.1 => /lib/x86_64-linux-gnu/libz.so.1 (0x00007fcabf1ef000)
	/lib64/ld-linux-x86-64.so.2 (0x00007fcabfc25000)`

[2020-05-10 19:31] stephengtuggy commented on #94
I don't think it's @Loki1950 's system. I think the same behavior happens on all Ubuntu-based systems. (Or possibly all Debian-based, going up a step further.)

[2020-05-10 19:31] stephengtuggy commented on #94
The difficulty with the ELF shared binary being what is produced? I get that too.

[2020-05-10 19:32] DMJC commented on #72
Vegastrike doesn't use FreeGLUT normally, vegastrike can use FreeGLUT when SDL isn't available. The engine was designed around portability to as many platforms as possible as a priority. There's a planetary terrain engine based on heightmaps that most people aren't aware of in there as well.

[2020-05-10 19:39] Loki1950 commented on #94
From the reddit thread linked in the stackoverflow answer Arch made pie default behaviour as far back as gcc 7.2  as a security precaution the the Ubuntu family followed but it looks like they did not update **file** to understand the change

[2020-05-10 19:46] stephengtuggy opened #107 "The boost::log stuff I put in got turned off"
Need to turn it back on again, after figuring out how to get it to compile properly with the latest Boost. This is essential for proper VS debugging output.

Relates to #95

[2020-05-10 19:50] Loki1950 commented on #94
@stephengtuggy could you post the the packages that provide the libs that `ldd $(which file)
`produces your more familiar with apt-get than I

[2020-05-10 22:42] Loki1950 commented on #94
In the interim can  we add `CFLAGS=-no-pie` the the cmake arguments that seems to be what is being recommended else where.

[2020-05-10 22:56] BenjamenMeyer commented on #14
Thanks I'll give it a read.

Looking that's back in 2019. I'll have to take a look, see what can be done. But I'll have to dig into some of the repo history too.

Let me read up on the forum and check into the history before I say more.

[2020-05-10 23:57] stephengtuggy commented on #94
@Loki1950 I think we should do the opposite. From what you're saying, the PIE functionality is a security improvement. Let's leave that in place, if we can.

And it sounds like this problem is on Ubuntu, not us. Would it be acceptable to leave this ticket as is? Now that we've figured out how to build and run Vega Strike from the command line, at least? Or do we want to keep working on it, trying

[2020-05-10 23:57] #60 closed

[2020-05-11 00:03] stephengtuggy commented on #95
I'm going to leave this issue (#95) for the Phase 2 part of it. For Phase 1, re-enabling the `BOOST_LOG_TRIVIAL` stuff I had already put in place, I have filed #107 .

[2020-05-11 00:04] stephengtuggy commented on #106
@royfalk I think you're right.

[2020-05-11 00:18] stephengtuggy commented on #98
I would like to drop the git submodule(s). I haven't been able to use them myself. So for me, they're just taking up space (on GitHub, at least) that could be used for other purposes.

Plus I like the idea of separating out the asset set, like @BenjamenMeyer was saying.

[2020-05-11 00:30] Loki1950 commented on #94
From the googling I have done that is what most of Ubuntu's package maintainers have been doing it is something that started with version 7.2 of gcc so it's been around for a while the -no-pie hack does seen to have become accepted practice as for the security issue it fairly obscure IMO most users will expect that double-clicking is the way to start the app

[2020-05-11 06:20] ermo commented on #94
Adding a compilation flag to make the binary work properly because the distribution defaults result in breakage seems ... odious at best.

If we do decide to create a work-around, it might make sense to guard it behind a `/etc/lsb-release` check and thus make it clear that it's not our fault that some distributions can't be bothered to fix known bugs.

[2020-05-11 11:02] Loki1950 commented on #94
Where is the breakage define it.

[2020-05-11 11:20] nabaco commented on #98
In terms of Github, adding a submodule doesn't take any space - it's like a symlink. If you guys preffer and insist, we can remove it, no problem.
I personally prefer to keep, and just add instructions in the README how to work with it.

[2020-05-11 11:52] nabaco commented on #106
Maybe @Loki1950, @danielrh, or @pyramid3d might give some more info?

[2020-05-11 11:59] Loki1950 commented on #106
Time-compression was removed as it lead to instability corrupted physics frame mainly so an edit of the Readme is in order this was before @klaussfreire developed the autopilot this was back in version 0.4.3

[2020-05-11 12:07] crts-crome commented on #14
The PR is from Oct 2019, yes, but it was only merged in  7. Feb. 2020. The next day the great merge of the SVN repository began which led to squashing/deleting all previous history.

[2020-05-11 12:08] Loki1950 commented on #106
You all are aware the there is an in game key map available in space just hit the "ESC" key

[2020-05-11 13:48] BenjamenMeyer commented on #50
@ermo sounds like a plan. I've been holding off on the 0.9.x target as I've wanted to get at least 0.6.x out first and hadn't identified must specific beyond 0.8.x. This might become the first issue for it. We'll have to think about some related stories to break down the larger work for how to include it into each previous release (0.7.x and 0.8.x)... it might be beyond 0.9.x depending on how much

[2020-05-11 14:05] BenjamenMeyer commented on #97
@pyramid3d thanks; we probably should have a default one with the Core Engine repo too at least as reference; asset repos can then make one specific for the games they for.

[2020-05-11 14:12] BenjamenMeyer commented on #14
@crts-crome I understand the concern.

FTR, I've added some protections on our dev and release branches. Administrators can still override, but that really should be a rare case when we need to fix something. Noting that this shouldn't be an issue going forward. I'm not sure what I can do about the past, but if I find something I'll try to do it as I quite agree that attribution should be given.

[2020-05-11 14:55] nabaco commented on #50
There actually not that much work. Currently the main warnings are:
- Unused variables/functions
- Unsafe string operations
- Class/stracture direct memory access (memset/memcopy)

[2020-05-11 16:07] BenjamenMeyer commented on #50
@nabaco agreed; though some of those might be better broken into smaller parts.

The DMA one at least is probably going to require more dedicated investigation/testing to verify things don't break. IIRC some of those warnings are due to polymorphic behaviors.

The other two should be pretty easy to clean up, as well as any required type casting, etc.

[2020-05-11 18:18] nabaco commented on #94
I see two options here:
1. Change CMakeLists.txt to test specifically for Mint 19, and in that case remove the --pie option
2. Add in the README/FAQ a note regarding this issue, and close it.

[2020-05-11 18:19] #107 closed

[2020-05-11 18:28] BenjamenMeyer commented on #94
@nabaco The `--pie` option is probably affecting all Ubuntu-based, may be even all Debian-based, distros. So for the moment, I'd suggest number 2 from your list, and perhaps #97 might add some help in resolution too.

[2020-05-11 18:46] nabaco commented on #94
I don't know, I don't see this issue on Ubuntu on my side. Though I haven't checked on 20.04 yet.

[2020-05-11 18:53] DMJC opened #109 "Add an ingame debugging console"
Suggestion to add an in game console such as quake has where you can hot-load missions and objects. For rapid development/testing without reloading the entire engine.

One of the console commands should be to place an object/ship into the engine within visual range of the player character ship.

[2020-05-11 19:24] ermo commented on #50
Proposal:

- Do the "easy" clean-ups for 0.6.x, add -Werror to the Debug target
- Begin working on the "hard" cleanup for 0.7.x
- Finish and confirm the "hard" cleanup work (declare it fit for purpose) with 0.8.x or - if necessary - 0.9.x.

[2020-05-11 19:37] ermo commented on #94
The problem here is that you have a SNAFU where the compilation succeeds and looks innocent, but the binary appears broken.

Speaking from experience (just look how long it took for us to investigate this!) this kind of error is the worst kind of insidious.

So, on reflection, the only reasonable outcome is to take a clear stance by either refusing to compile if there's a risk of the binary issue,

[2020-05-11 19:43] BenjamenMeyer commented on #94
Based on what @stephengtuggy and @Loki1950 have noted, I'm probably seeing this on Kubuntu 19.10 (essentially Ubuntu 19.10 + KDE); only difference is that KDE prompts about running it. It runs fine from the command-line, but double-clicking in Dolphin gives a prompt that I wouldn't normally get.

I agree with @ermo that we need to push back on Debian/Ubuntu to fix this as it's a lot wider spread i

[2020-05-11 19:53] ermo commented on #94
Proposal for build system error-gating:

If we encounter a possibly-broken distribution (`egrep -i 'debian|mint|ubuntu' /etc/lsb-release`), require a flag to be set (e.g. `-DMY_PIE_IS_A_LIE=ON`) for the compilation to succeed.

The error text can be a carbon copy of the text in the README so that packagers won't have any excuse to ignore it.

[2020-05-11 20:09] ermo commented on #95
(repost from another issue)

Guys, fatal errors really ought to be printed (or at least also copied) to stderr?

Not doing so tends to break the principle of least astonishment.

Bonus points for posting a short text blurb after VS has exited with an error code, where the blurb points to the latest log file like @BenjamenMeyer also suggested.

[2020-05-11 20:09] Loki1950 commented on #97
Thx for putting this in my face ;) missed it's creation and as @nabaco mentioned it is something we need to do for packaging even on the way back machine having to add VS to the menu manually was a bit of a chore

[2020-05-11 20:22] BenjamenMeyer commented on #95
@ermo  yes, as a general rule everything should go to the log file. The exceptions should be:
- getting the log going
- fatal errors where we crash out, in which case if we can it should go to the log but should also go to the console/std::error.

[2020-05-11 21:36] stephengtuggy commented on #50
Guys, I think there might be more work here than you're accounting for. At least if you turn on **all** the warnings as errors.

I say we wait a little longer to tackle this. 0.9.x at the earliest for finishing and confirming the "hard" cleanup work.

[2020-05-11 21:42] stephengtuggy commented on #98
Here's another consideration: There are multiple copies of the asset set now, and I have 3 of them checked out on my local machine. Vega Strike (specifically `vssetup`) is getting mixed up about which copy to use. The algorithm for determining the asset folder location, is not that smart.

I think it would be a lot cleaner if we kept the asset sets in their own repos, if for no other reason than t

[2020-05-11 22:41] ermo commented on #50
Given your extensive experience with "chore" refactoring of the code, I'm inclined to take your assessment at face value. =)

Good call.

[2020-05-11 23:42] stephengtuggy commented on #62
Can this issue be closed?

[2020-05-11 23:43] stephengtuggy commented on #94
I am all for pushing back on Debian/Ubuntu to fix this.

@Loki1950 do you have a link(s) to the thread(s) you were reading on this subject?

[2020-05-12 00:02] BenjamenMeyer commented on #98
@stephengtuggy would you please file that as a bug? We probably should have something very deterministic via the config file.

[2020-05-12 00:05] BenjamenMeyer commented on #62
@stephengtuggy yes. I'll file an issue on the other stuff and close this one, linking it here first.

[2020-05-12 00:08] Loki1950 commented on #94
Just followed those from the stackoverflow I posted earlier the reference to Arch's reasoning is a link to a reddit post while it points to the Arch-dev-public mailing list and the one that @ermo posted from askubuntu

[2020-05-12 03:51] BenjamenMeyer opened #110 "Governance Structure"
Filing this from https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/62#issuecomment-612096105 so we don't lose track. We're not ready to answer the questions yet; however we're ready to close #62.

We'll eventually need to answer these questions.

[2020-05-12 03:52] BenjamenMeyer commented on #62
#110 to carry on the questions from https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/62#issuecomment-612096105. We're not ready to answer those questions, but we are ready to close this issue.

[2020-05-12 03:52] #62 closed

[2020-05-12 03:54] BenjamenMeyer opened #111 "Multiple Assets can confuse vssetup"
Filing as part of https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/98#issuecomment-626981181 on behalf of @stephengtuggy

[2020-05-12 03:55] BenjamenMeyer commented on #98
@stephengtuggy nevermind...filed #111 to track that aspect.

[2020-05-12 03:56] BenjamenMeyer commented on #111
The VS configuration utility should be able to handle multiple asset packages being on the same system.

[2020-05-12 15:48] Loki1950 commented on #94
What would I do locally so I get a old style executable so I can start verifying all of the units my tool chain for this starts with @pyramid3d UnitConvertor which calls mesher (mesh_ tool) and vegastrike as well as nvtt (NVIDIA texture tools) the nvtt no longer looks to be available for Linux so I have gotten the Flatpack version of GIMP 2.10 with includes the dds plug-in.

[2020-05-12 16:13] BenjamenMeyer commented on #94
Here's a bug filed with Ubuntu: https://bugs.launchpad.net/ubuntu/+source/file/+bug/1747711

[2020-05-12 16:16] BenjamenMeyer commented on #94
Seems a common work around is to add the `-no-pie` option to GCC/G++ flags, see https://stackoverflow.com/questions/45329372/ubuntu-recognizes-executable-as-shared-library-and-wont-run-it-by-clicking

[2020-05-12 17:24] Loki1950 commented on #94
So which file do I add `-no-pie` and where ie: line #

[2020-05-12 17:28] Loki1950 commented on #111
Never intended for multiple asset sets so indeed the algorithm is primitive

[2020-05-12 17:53] ermo commented on #94
cmake 3.5.x (used by Ubuntu 16.04 LTS) supports the option POSITION_INDEPENDENT_EXECUTABLE.

This is the text I have written for the option and which I am now testing locally:

[code]

[2020-05-12 17:56] BenjamenMeyer commented on #94
@ermo looks good; can you please also include a link to the Ubuntu Bug in the CMakeLists.txt change?

[2020-05-12 19:24] ermo commented on #94
Done (see above).

Still testing whether the code I have written actually does anything -- I remain unconvinced at this stage, but we'll see...

[2020-05-12 20:11] nabaco commented on #94
@ermo if you have any success, feel free to open a PR

[2020-05-12 21:34] ermo commented on #94
I think I've got it working now:
- I've verified that the default (PIE off) adds a `-fno-PIE` flag when compiling executables
- I've verified that enabling PIE adds a `-fPIE` flag when compiling executables
- If the user compiling `vegastrike` adds either `-fPIE` or `-fno-PIE` to the `CMAKE_CXX_FLAGS_${BUILDTYPE}` manually, disabling the PIE option adds the `-fno-PIE` after the manual flags, thus

[2020-05-12 21:56] BenjamenMeyer commented on #94
@ermo  thanks!

Question: which do we want to be default? What makes it painful? or easy?

To push back on distros it seems which should make it painful (per earlier discussion); but at the same time I'm inclined to put the users first.

Thoughts?

[2020-05-12 22:23] ermo commented on #94
I'm defaulting `COMPILE_WITH_FPIE` to `OFF` to avoid confusing packagers and hapless users compiling on their own.

At the same time, I have added a suitably snarky comment in the README referencing the launchpad bug in question.

[2020-05-13 06:41] crts-crome commented on #14
Not sure how exactly the merge was done but there were three repositories merged into one (hence the name "Great Merge"). [This](https://forums.vega-strike.org/viewtopic.php?f=53&t=26104&p=169918#p169918) and [this](https://forums.vega-strike.org/viewtopic.php?f=0&t=51534&p=169916#p169916) forumt post may shed some light on the issue. At some point the **vegastrike-taose** repo became the new mast

[2020-05-13 08:53] ermo commented on #99
I'm working on a local branch where I've only renamed `vssetup` to `vegasettings`.

This keeps the current convention of `vegastrike`/`vegaserver`/`vegasettings` and makes for a less intrusive patch.

[2020-05-13 10:39] ermo commented on #99
Making the name configurable should be a separate PR IMHO.  The diff is already big enough.

[2020-05-13 10:41] ermo commented on #99
Note that I'm including some beginning edits to the man page (which is *completely* out of date).

Fixing up the man page properly is a separate job best handled by the web assets team as it has lots of links to various resources etc. I did a quick clean-up, but someone else needs to get on this ASAP for 0.6.x.

@nabaco?

[2020-05-13 13:35] BenjamenMeyer opened #113 "Fix up the manpages"
as reported by #99 the manpages are vastly out of date and need a major update.
At minimum this involves updating any URLs; but the pages should be reviewed for accuracy too.

Also, we should disable installation of any vegastrike server manpages since we've temporarily removed that.

[2020-05-13 13:35] BenjamenMeyer commented on #99
@ermo filed #113 for the manpage update; thanks for the find!

[2020-05-13 13:37] BenjamenMeyer commented on #99
I'm find with that; let's make sure there's an issue filed to track it.

[2020-05-13 13:40] BenjamenMeyer commented on #14
@crts-crome thanks for the info; I'd like to be able to tag those things too just so we can easily reference them.

If we can find a hash for the branch then it might be able to be "undeleted"... not sure how git handles that but I'll add that to my list of things to check for this.

[2020-05-13 13:48] BenjamenMeyer commented on #14
@crts-crome FYI - I created a gitter.im room for folks to collaborate in real-time on this.

https://gitter.im/vegastrike/history-trackers?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2020-05-13 14:07] Loki1950 commented on #14
I am also concerned about maintaining credit for our art assets I will be trying to contact them all from our forum db but email addresses do change at whim this will be part of my master file effort besides I'd like to get them active again

[2020-05-13 14:57] Loki1950 commented on #94
Just did an update of `file` security regression not our issue looking at the change log but it does mean the maintainers are active

[2020-05-13 18:10] crts-crome commented on #14
@BenjamenMeyer
The hashes were just meant to indentify which commit in the Github repo corresponds to the release branches in the SVN repo, e.g., version 0.5.0, 0.4.3, etc. It was just something I had put on my TODO list for the undamaged Github repo. It will not help with undeleting. Sorry if it was a bit unclear.

What I meant by undeleting is the following:
I made [this branch](https://github.c

[2020-05-13 18:16] BenjamenMeyer commented on #14
@crts-crome there is some stuff that GitHub adds to the repositories; so it might be recoverable there when it's not otherwise able to be. So it may depend on how the merging happened - whether it happened in GitHub or outside of GitHub.

[2020-05-13 19:46] nabaco commented on #113
@ermo can you just write here where are the man pages located in the source code?

[2020-05-13 19:53] ermo commented on #113
`doc/man/*.1`

[2020-05-13 20:17] #94 closed

[2020-05-13 20:58] #99 closed

[2020-05-13 22:16] nabaco commented on #103
Can't assign to DMJC, probably since he's still not listed as a contributor in this repo, but he's taken this task upon himself, and is nearing completion.

[2020-05-13 22:31] BenjamenMeyer commented on #103
Yeah you have to be an org member to get assignments

[2020-05-14 02:14] bergamote opened #117 "vegastrike not starting"
Hi all and thanks for the hard work!
I managed to compile on Ubuntu 19.10, but typing `bin/vegasettings` gives me:

    Error: Failed to find Version.txt anywhere.

and typing `bin/vegastrike` returns:

    ...
    CONFIGFILE - No config found in home : /home/xxx/.vegastrike/vegastrike.config
    CONFIGFILE - No config found in data dir : /vegastrike.config
    CONFIG FILE NOT FOUND !!!
    Panic

[2020-05-14 02:24] BenjamenMeyer commented on #117
@bergamote yes, you need an asset data set to run with.

Options are:
- checkout using `git clone --recurse-submodules`
- `git clone` and then `git pull --recurse-submodules`
- `git clone` of both this repository and https://github.com/vegastrike/Assets-Production

If you use the first two options the asset data is put in the `data` directory so a direct run of `./bin/vegastrike` will just work.

[2020-05-14 02:25] BenjamenMeyer commented on #117
marked as a bug, as we should verify that the directions provided in https://github.com/vegastrike/Vega-Strike-Engine-Source/issues/117#issuecomment-628346847 are documented in the README.md

[2020-05-14 02:29] Loki1950 commented on #103
Stupid question shall I add him or will you @BenjamenMeyer

[2020-05-14 02:37] Loki1950 commented on #109
@klaussfreire did some work after 0.5.3 don't remember how far he got with it

[2020-05-14 02:49] bergamote commented on #117
thanks!

[2020-05-14 03:51] DMJC commented on #103
I've sent a pull request through.

[2020-05-14 09:32] ermo commented on #117
Does it work for you now?

[2020-05-14 10:30] bergamote commented on #117
Actually no, `git pull --recurse-submodules` returned `Already up-to-date.`
I had to run `git submodule update --init` and that worked, cloning the assets into data.
After that the game did launch! (on the wrong screen, but that's different problem)

[2020-05-14 13:49] BenjamenMeyer commented on #117
@bergamote thanks for the info; not all of us use the `submodule` method. We need to get that stuff documented and your experience with the commands discussed in #98 highlights one of my concerns. The feedback is greatly appreciated.

[2020-05-14 13:51] BenjamenMeyer commented on #98
So as experienced by a user in #117, once one has a checkout, then the only resolution is:

[code]

At the minimum we need to ensure the documentation is in place if we're going to continue with submodules, then both this and #117 can be closed out.

[2020-05-14 13:53] BenjamenMeyer commented on #98
Vote:

:+1: Keep Submodules and update documentation
- provide documentation on fresh clone with submodules
- provide documentation on existing clone with needing to retrieve submodules

:-1: Drop submodules and update documentation
- provide documentation on where to find an asset set to use and how to use it

[2020-05-14 14:01] crts-crome commented on #14
I found the last intact commit in the [commit history](https://github.com/vegastrike/Vega-Strike-Engine-Source/commits/master?after=af52cc271ddbea7d4dba54215172869b1a4970cc+139), made on Feb 7, 2020:
https://github.com/vegastrike/Vega-Strike-Engine-Source/tree/28a6a00ab964719fa3b9ded2ba9cfe77886c20b9

That is the last commit that has its history intact.

The next commit (Feb 9, 2020, create modula

[2020-05-14 14:05] Loki1950 commented on #98
Either way we need to update the documentation Dropping the sub-modules may allow keeping data sets separate in userland for testers who use muti data sets

[2020-05-14 14:15] BenjamenMeyer commented on #14
@crts-crome thanks for the info; we'll be investigating.

[2020-05-14 15:23] ermo commented on #98
I'm not really that keen on sub-modules if I'm honest -- for instance, I found it simpler to just fork and clone the assets into a separate folder on my box and work on a branch there when I did the vssetup -> vegasettings PRs for code and data respectively.

If there's an easy way to duplicate that workflow with sub-modules, feel free to point me to the relevant documentation.

What is the tradit

[2020-05-14 15:50] royfalk commented on #98
To be honest, I only have a vague understanding of know what we're talking about here. I'm not familiar with sub-modules, so I'll abstain.

[2020-05-14 22:32] stephengtuggy commented on #14
@crts-crome Thanks for doing the legwork on this. Yes, that is concerning.

[2020-05-15 00:28] stephengtuggy commented on #91
Guys, I am definitely seeing **objects** (planets/bases) move around relative to my ship. It makes me seasick to watch a lot of times. Makes the game almost unplayable at times, for me.

For instance, I will be sitting in space, having just undocked from Serenity, not going anywhere. Yet Serenity starts moving across the sky away from me! Two steps forward, one step back. Juddering, you might call

[2020-05-15 01:07] Loki1950 commented on #91
First of have been matching velocity with your target location the "Home" key then lining up the two sets of cross-hairs on the HUD before you engage either the autopilot or SPEC i'm not seeing any of this except the varying SPEC multiplier which is normal behaviour and yes you will change heading quite a few times as the autopilot skirts gravity wells with SPEC multiplier variation all the way so

[2020-05-15 05:48] crts-crome commented on #14
Not sure if this is already known, but here is a link that lists the [contributors in the old SVN repository](https://sourceforge.net/p/vegastrike/_members/). Attribution to the **taose** contributors can probably also not be given automatically because Github does not recognize that repository as a fork. The [taose repository](https://github.com/Taose/Vegastrike-taose) has only 85 commits and it

[2020-05-15 16:37] BenjamenMeyer commented on #91
I've seen similar; the gravity well explanation fits, but this may be a case where we need to introduce some more (or change) configuration around the physics engine and make the default more forgiving.

@Loki1950 states that the "classic" configuration is more akin to how Wing Commander worked vs the realistic configuration.

Regardless of which configuration (realistic, classic) is used the game

[2020-05-15 16:53] Loki1950 commented on #91
Not sure if the relevant variables behave in a linear fashion

[2020-05-15 18:09] Loki1950 commented on #91
Missing comment line that that block starts with

[2020-05-16 22:14] stephengtuggy commented on #91
@Loki1950 I will try the Home key; thanks for that.

[2020-05-16 22:59] stephengtuggy commented on #91
Matching my velocity with the target location via the `Home` key, plus lining up the crosshairs on the HUD, certainly does help. And based on your latest explanation, @Loki1950 , I finally see why this might be necessary -- even in a game LOL. As you said, the player always has a velocity vector relative to all objects with mass.

There is still some 'bouncing' behavior that is unexplained though.

[2020-05-16 23:03] stephengtuggy commented on #91
Between `Default`, `Classic`, and `Realistic`, I last chose `Default`. FWIW.

[2020-05-16 23:26] Loki1950 commented on #91
All the the censorship is a few of the loading splash screens had a religious type who said that they where inappropriate for his little sister,now as for an invisible ship we do have a clocking devise but it's very rare it something in calculating the psychics frame perhaps.

[2020-05-17 20:32] nabaco commented on #53
So far I had some progress.
I'm using VCPKG to deal with the dependencies, and it handles most issues - makes life much easier.
I merge into my testing branch #103, and replaced the FindGTK3.cmake with [this one](https://raw.githubusercontent.com/Ettercap/ettercap/master/cmake/Modules/FindGTK3.cmake), as it was tested with VCPKG.

According to [this thread](https://forums.vega-strike.org/viewtopic

[2020-05-17 20:42] nabaco commented on #53
I have passed configuration stage, after moving UTIL into a guard:
[code]

[2020-05-17 21:35] nabaco commented on #53
Build fails with the following two repetetive errors:

[code]

[code]

Any help?

[2020-05-18 05:55] pyramid3d commented on #62
I am flattered by the nomination, though I do not see myself as a core member. Should there be an alumni group created, that's where I would be ;-)

[2020-05-18 07:21] pyramid3d commented on #55
There is also the https://conan.io/ package manager. A question to consider: how is the package hosting solved in the proposed solutions?

[2020-05-18 08:15] pyramid3d commented on #55
Not sure, but Jenny may also be of help: https://github.com/bkaradzic/GENie

[2020-05-18 08:51] nabaco commented on #53
I have commented the problematic function in gnuhash.h, as it should be supplied by STD.

Regarding boost, I have changed the path to it in CMakeLists.txt and it seem to remedy it.

Now I'm solving actual compilation issues.

[2020-05-18 12:59] BenjamenMeyer commented on #55
@pyramid3d what do you mean by package hosting? Third party libs? Or our own?

[2020-05-18 14:17] pyramid3d commented on #55
I mean third party libs. I saw a conan setup where external libs would actually be hosted by the project, which I found a bit strange: But I understand too little about packaging tech to be able say if it is of any relevance to this topic.

[2020-05-18 14:59] BenjamenMeyer commented on #55
@pyramid3d I'm not sure what the answer should be. We probably should have them cached some how as a fall-back, but we probably also want to rely on the third parties to provide their stuff. I'd be fully in favor of using the GitHub Packages stuff for it, but then we might run into money issues if it gets too popular without any income as there's a limited amount of "free" and then charges start.

[2020-05-18 15:54] nabaco commented on #55
In my windows compilation attempts I'm using Travis-CI caching abilities for the dependencies, and it works like a charm. Plus it really speeds up builds.
Maybe we can leverage that somehow?

Looking at Conan, I don't think we need to host anything, as it seems that everything is hosted on conan-center, but we might need to check that.

As a different option, VCPKG that I'm using now downloads the

[2020-05-18 16:17] BenjamenMeyer commented on #55
@nabaco we should primarily only host source packages; exception might be providing some pre-built Windows binaries to save time. All other platforms a source tarball should be sufficient if it's not provided via a local packager.

[2020-05-18 16:18] BenjamenMeyer commented on #62
@pyramid3d I think we'll cover that in the `Historic Owners` group being proposed at https://gist.github.com/BenjamenMeyer/07d9c1bf7aaf88c74adbf7a0b186dd6f#historic-owners, though perhaps `alumni` is a better name?

[2020-05-21 02:09] stephengtuggy commented on #53
@nabaco You may find that the 64-bit Windows environment isn't recognized by our code. Only 32-bit Windows. Let us know if you find that to be the case.

If so, the problem seems to lie in `posh.h`. I tried fixing it by combining the VS version of `posh.h` with modifications from other versions of the file that I found in other projects. However, I'm still not sure if I got it right.

FWIW, I beli

[2020-05-21 02:12] stephengtuggy commented on #91
@Calendis can you see if lining up the cross-hairs and using the `Home` key helps with the issues you've been encountering? Perhaps combined with using the `Default` or `Classic` configuration, in order to speed up acceleration and velocity-matching?

[2020-05-21 02:20] stephengtuggy commented on #98
I just noticed that the `data` submodule in Vega-Strike-Engine-Source is pointing to a commit 3 months old. Yet the Assets-Production repo was last updated 7 days ago.

Apparently it doesn't update automatically?

[2020-05-21 02:50] BenjamenMeyer commented on #98
No submodules don't auto-update. They're locked to specific git hashes and have to be specifically updated

[2020-05-21 05:52] nabaco commented on #53
Well, damn. That's very important information, thank you. I'll re-download the dependencies and try to recompile.

The is an issue on 32-bit too?
I see these errors: `Vega-Strike-Engine-Source\engine\src\posh.h(567,1): fatal error C1189: #error:  POSH cannot determine target CPU`

There were a bunch of errors regarding `#include "config.h"` not found. I removed all those includes from the source f

[2020-05-21 05:53] nabaco commented on #53
The following files got compiled so far:
- asteroidgen.exe
- mesh_tool.exe
- replace.exe
- trisort.exe

[2020-05-21 06:23] nabaco commented on #53
Attaching log with errors:
[output.log](https://github.com/vegastrike/Vega-Strike-Engine-Source/files/4660885/output.log)

It seems that most issues are with std::hash.

vegasettings.exe failed on the linking stage, but that might be due to previous errors.

[2020-05-21 07:36] nabaco commented on #53
Can anyone tell me more about `vega-strike-engine-source\engine\src\gnuhash.h`?
It seems to me that we might want to remove it all together an include [\<functional\>](https://en.cppreference.com/w/cpp/header/functional#Hashing) instead.

[2020-05-21 08:16] nabaco commented on #98
I think that's good actually, at least in terms of releases and version tracking

[2020-05-21 09:10] nabaco commented on #53
`gnuhash.h` removal filed #119 separately.

Switching to win32 removed issues with Posh.

Now the errors that I need to deal with:
- `engine\src\cmd\key_mutable_set.h(41): error C2923: 'std::multiset': 'std::_Tree<_Traits>::_Compare' is not a valid template type argument for parameter '_Pr'` (it repeats quite a lot I have to say)
- `engine\src\python/python_class.h(240): error C2653: 'Python': is

[2020-05-21 12:30] ermo commented on #98
IME, for maintainers, this is a good thing as it makes for very little hassle.

For VS developers and contributors, perhaps not so much, since you will sometimes need to reference latest master in both code and data (like I did).

Therefore, I propose a dual approach, where:

- Users and maintainers wanting to compile a known working version of VS are encouraged to use the submodule approach with

[2020-05-21 13:01] nabaco commented on #98
Sounds good to me

[2020-05-21 13:56] BenjamenMeyer commented on #98
@ermo my only concern is for folks that are packaging multiple projects using Vega Strike as the engine - e.g packaging UtCS and PWCU:PPU. UtCS packagers would be find with it; but PWCU:PPU packagers would not want to download UtCS.

So a slight modification:
- Users and UtCS Maintainers wanting to compile a known working version of VS are encouraged to use the submodule approach with tagged relea

[2020-05-21 14:22] BenjamenMeyer commented on #48
Based on conversation and observation of practice I think we've come to agreement on this. It'll have to be written up in the contributor guidelines (see #27), but we can close this.

[2020-05-21 14:22] #48 closed

[2020-05-21 14:22] BenjamenMeyer commented on #27
We need to document the branching strategy in the Contributor guidelines too.

[2020-05-21 14:22] nabaco commented on #53
So the python issue was due to `config.h` not being included by MSVC, and the `HAVE_PYTHON` not being defined.
I don't know whether I should attempt MSVC to find/include `config.h`, or define `HAVE_PYTHON`.

IMHO, I think we should remove `HAVE_PYTHON` guard all-together since nowadays we don't compile without python anyway...

[2020-05-21 14:25] BenjamenMeyer commented on #53
yes, we're pretty closely tied with the Python libs; not to say we couldn't add something for another language binding but I don't see that happening (possible, but not practical).

That said, MSVC should probably be finding/including `config.h` - there's probably other stuff that depends on that and it should be generated by CMake, no? So that seems like the more critical and underlying error tha

[2020-05-21 14:53] BenjamenMeyer opened #122 "FUNDING.yml"
Per https://github.com/vegastrike/infrastructure-tracking/issues/11

[2020-05-21 14:55] ermo commented on #98
Thinking some more about, why use submodules at all then?

Aren't we just as well off with shipping an empty data directory with the VS repo and then instruct users and maintainers to check out shallow clones of tagged releases of VS and the data-sets in question and then dumping sub-modules entirely?

For a maintainer, being able to package a known-working version of VS separately via a tag and t

[2020-05-21 15:10] BenjamenMeyer commented on #98
Thinking about this more...I think we need to rethink how we're using submodules.

The engine is not tied to any asset set. Yes, it needs assets for testing, playing, etc; but it's not tied to a specific asset set.

OTOH, the Game Assets might be tied to a version of the engine.

So instead of having the engine use submodules to pull in a copy of any game assets for game play; perhaps it should be

[2020-05-21 15:30] ermo commented on #98
I like how turning around the relationship between engine and data-sets makes the mental model clearer:

The interesting bit to the end user is the data-set. The engine is really just an implementation detail to the user in terms of the experience.

This also mirrors what Privateer: Gemini Gold ended up doing with their own engine fork.

[2020-05-21 15:36] BenjamenMeyer opened #123 "Quick Dev Setup on Windows Dev Box (Ansible?)"
Developers need various configurations to support work on the project. Most platforms are easy; however; Windows is another matter. A number of us also don't have Windows systems and may therefore be utilizing the one of the Microsoft provided VMs (https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) to support the effort; however, this also means that the VMs may need to get rebuild p

[2020-05-21 15:41] BenjamenMeyer commented on #123
I've downloaded a VM but haven't tested it yet. Ansible should be a viable solution - though https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html does note some potential issues. We'll have to experiment and determine feasibility or if there is another means (Chocolatey) that can be easily used to do the same with minimal effort.

Primary goal is to have something real simple, rep